In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import sys
sys.path.insert(0, './gdrive/My Drive/module')

In [0]:
import pandas as pd
import numpy as np
import functions as f1
import selfmadefunctions as f2
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [0]:
path = './gdrive/My Drive/data/'
meta = 'item_metadata.csv'
train = 'train.csv'
test = 'test.csv'
many = 'many.csv'
prop = 'df_prop.csv'

In [0]:
sorted_many = pd.read_csv(path + many).drop('Unnamed: 0',axis = 1)
df_test = pd.read_csv(path + test)
df_prop = pd.read_csv(path + prop)

# time stamp
1. df_many (즉 clickout이 2번 이상인 session_id들의 df)가 산 clickout item과 cosine similarity 가 높은 순으로 impressions을 sorting한다. 
* 문제 1: df_prop에 item이 없는 경우 -> 해결: 없는 item은 일단 제외
* 문제 2: clickout을 n번 이상한 경우 한 session_id 당 (n * 25)의 cos-sim을 구해야하는데 컴퓨터 파워가 딸린다. -> 해결: clickout 횟수 가장 많은 item을 하나만 골라서 cos-sim구하자

## step 1 Clickout 2번 이상한 session_id에서 cilckout 횟수 가장 높은 clickout하나 고르기

In [0]:
def many(df):
  s = (df.loc[df.action_type == 'clickout item'].groupby('session_id').action_type.count() != 1)
  many_sess_index = s.index[s].to_list() # return session_id index
  df_many = df.loc[df.session_id.isin(many_sess_index)]
  
  return df_many

df_many = many(df_test)

In [0]:
df_notar = df_test[~df_test.index.isin(df_target.index)]

In [0]:
df_clickout = df_notar.loc[df_notar.action_type == 'clickout item']

In [0]:
df_clickout['reference_int'] = df_clickout.reference.apply(f2.only_number)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_interact = df_notar.loc[df_notar.action_type != 'clickout item']

In [0]:
df_interact['reference_int'] = df_interact.reference.apply(f2.only_number)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_interact

In [0]:
df_ref_count_interact = f2.reference_count(df_interact)

In [0]:
df_clickout_count = f2.reference_count(df_clickout)

In [0]:
# unique clickout 
df_clickout_count = df_clickout_count.groupby('session_id').first()

In [0]:
df_new = df_ref_count_interact.merge(df_clickout_count.drop('ref_count', axis = 1).rename(columns = {"reference_int" : "clickout"}), left_on = ['session_id', 'reference_int'], right_on = ['session_id', 'clickout'], how = 'left')

In [0]:
df_new

In [0]:
# interact == clickout만 있는 경우
# interact != clickout이 하나라도 있는 session을 제외한 session
df = df_new.groupby('session_id')['reference_int', 'clickout'].count()
sess_noinfo = np.array(df.loc[df.reference_int == df.clickout].index)

In [0]:
sess_noinfo

array(['0006fad60bc56', '000c98c2ace32', '000ec94dfe2fa', ...,
       'fffe54dd22bff', 'ffff0ad1c618d', 'mc56p18be6c2g'], dtype=object)

In [0]:
# interact == clickout 이고 clickout을 unique로 만든 것 중 target만 뽑아낸 것 
df_noinfo_target = f1.get_submission_target(df_test.loc[df_test.session_id.isin(sess_noinfo)])

In [0]:
df_pivot = df_new.loc[df_new.session_id.isin(sess_noinfo)].drop(['reference_int','ref_count'],axis = 1)

In [0]:
df_noinfo_target # 모든 interaction == clickout 인 session_id & unique clickout (1만4천개로 줄었다.)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
806,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,513401|1700081|479176|1496061|1045504|1627077|...,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...
881,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,clickout item,NaN,FR,"Calvi, France",desktop,NaN,4030032|493996|1650929|2707574|122383|3056634|...,60|70|88|68|49|56|57|56|61|59|251|264|613|129|...
1198,0XK5WT27R2MO,7eeee456d394f,1541664783,18,clickout item,NaN,HK,"Yuchi Township, Taiwan",mobile,NaN,1319134|2207104|3760984|2296040|7128054|159250...,230|120|127|279|81|129|148|60|57|77|97|105|78|...
1301,1KHD6E75J8AO,ded480bc05f23,1541618131,6,clickout item,NaN,CA,"Seven Mile Beach, Cayman Islands",mobile,NaN,1189604|713051|363706|1433968|1298756|140993|5...,100|155|637|344|223|471|812|655|258|306|344|10...
1630,28AA5X54IRCN,3ab76c99e849f,1541717205,4,clickout item,NaN,UK,"New York, USA",mobile,NaN,8764|8816|8796|8744|149587|8640|1811137|8791|8...,226|538|139|301|306|239|240|283|363|416|249|19...
1932,2T1N17V2P4DR,4a15205ca1d0a,1541614836,7,clickout item,NaN,US,"Anchorage, USA",desktop,NaN,5962952|79405|71890|1247369|9966356|68857|2393...,51|46|52|45|52|69|66|61|110|66|62|83|144|200|6...
1944,2TE5D3CL8KDN,9b2732200af43,1541555252,5,clickout item,NaN,IN,"Mysore, India",mobile,NaN,5655860|8901942|6827724|3113358|2889110|110469...,29|34|28|22|23|29|21|78|82|48|48|62|66|41|24|1...
2077,3GK9RB8M87TH,592d27abe2c44,1541589591,21,clickout item,NaN,UK,"Rome, Italy",desktop,NaN,17488|1967015|17520|150215|45375|1439271|35494...,204|182|176|182|132|116|461|231|287|230|166|15...
2265,3Z4BMMC328DA,e51956efd0243,1541616542,11,clickout item,NaN,BR,"Natal, Brazil",mobile,NaN,109326|1710829|326906|104985|477846|117545|899...,155|229|186|170|74|117|131|97|124|101|124|72|7...
2763,5AALTGQEG5DB,41662dc20a36a,1541675357,7,clickout item,NaN,JP,"Kurashiki, Japan",desktop,NaN,1532793|7566644|493201|1016659|2384134|1016621...,146|191|170|118|434|672|166
2918,5GA46MNCQ3VG,8c125dce3afcc,1541616533,3,clickout item,NaN,DE,"Andernach, Germany",mobile,NaN,154813|724496|926233|923873|1523875|3977790|18...,58|110|89|105|114|90|66|119|65|84|79|112|90|79...
3346,6E2ZG27ISMUX,8a00d0286dd34,1541560534,9,clickout item,NaN,US,"Myrtle Beach, USA",mobile,Hotel|Motel|Resort,71266|67879|1082920|57016|60367|9355880|64337|...,130|198|208|153|162|197|141|160|138|129|240|13...
3446,6QXUHQR14RO8,992c9d0f69869,1541562892,11,clickout item,NaN,AU,"Shanghai, China",mobile,NaN,2974278|2963286|2979862|2970902|2977974|290813...,126|203|251|173|156|203|176|80|128|68|206|153|...
3553,72W93XSFSO6T,23f493ce90a1d,1541625500,5,clickout item,NaN,DE,"Maguhdhuvaa, Maldives",mobile,NaN,2262316,436
3570,73JKA61NDANI,222d66ba0fe4e,1541590596,17,clickout item,NaN,DE,"Málaga, Spain",tablet,Sort by Price,149278|110833|2306294|7979126|1929059|9611926|...,12|13|15|30|31|31|33|35|37|38|40|40|40|41|41|4...
4000,7O2DCOW6VIYZ,83a9a3c8200f7,1541664429,5,clickout item,NaN,JP,"Yokohama, Japan",desktop,NaN,3183078|4540594|6919130|1931133|1097076|559026...,58|79|100|25|51|54|71|61|60|38|56|183|92|73|12...
4172,7ZMUL135CMEE,0afbd76ad1aa2,1541702149,9,clickout item,NaN,IT,"Rome, Italy",mobile,Sort by Price,16837|5440148|6118348|896561|3148960|5577764|1...,48|56|58|60|61|62|62|63|65|68|68|70|71|71|72|7...
4307,85WN317RX2IB,8c86054ea779c,1541683351,4,clickout item,NaN,TW,"Hualien City, Taiwan",desktop,NaN,1298859|1781079|2600968|1306142|3884238|120264...,87|70|79|87|80|62|71|74|57|63|83|68|41|25|74|1...
4549,8CS7V16ROMX9,ac332dd5bf636,1541632760,13,clickout item,NaN,UK,"London, United Kingdom",mobile,Sort By Distance,3845066|10802760|1502155|893429|4980988|516593...,72|128|72|102|102|131|67|232|191|224|63|61|50|...
4891,94OG4KGNMJ8R,0e53d7fa0d537,1541697975,8,clickout item,NaN,ES,"Santiago de Compostela, Spain",mobile,NaN,9028708|10134438|6384622|9875992|5793080|56241...,75|273|228|208|139|63|163|90|132|100|95|106|14...
5127,9L9UWH66T732,0216ced2b2366,1541562339,6,clickout item,NaN,JP,"Kochi, Japan",desktop,Car Park,1015621|1015595|495921|979131|1015575|6859472|...,95|136|117|144|217|393|167|794|319|159|43|77|8...
5188,9QLAJZJ53IAP,5ae4b68a28819,1541615444,11,clickout item,NaN,UK,"London, United Kingdom",mobile,Focus on Distance,630196|48099|8179780|149056|1340407|3842068|12...,119|184|182|126|102|352|327|288|303|256|423|36...
5470,AH2R0OGG7ITJ,3373c6bddbea2,1541577173,20,clickout item,NaN,UK,"Benidorm, Spain",desktop,NaN,126718|685126|115935|4058198|8272676|86987|653...,76|36|67|79|49|63|65|152|64|60|132|92|67|60|70...
5660,ANJSE058QUSU,e4ac140ab40a4,1541578192,14,clickout item,NaN,FR,"Paris, France",desktop,Sort by Price,12037|11980|847671|2799306|656606|99968|164687...,21|27|40|40|41|44|45|46|46|46|48|49|49|50|50|5...
5989,BEABKS3DAE84,194f0a822efeb,1541619426,51,clickout item,NaN,DE,"Nuremberg, Germany",desktop,Sort By Distance,1717971|4952580|5145672|5967884|5387|431926|82...,50|245|315|215|209|75|145|131|129|129|185|163|...
6014,BEPQPAM4VZQZ,9e4bbe2dd1722,1541579220,6,clickout item,NaN,FI,"Turku, Finland",desktop,NaN,104315|153960|153959|104363|1120851|2755231|10...,91|125|91|111|117|76|103|151|75|158|87|144|112...
6144,BX1IN1PGZXWN,cb28071eb355b,1541569188,41,clickout item,NaN,UK,"Seville, Spain",tablet,House / Apartment|Serviced Apartment|Sort by P...,6809184|11022330|9243962|11056466|4917494|4010...,50|61|70|78|84|110|119|120|121|126|134|134|135...
6685,CT3S6COLM178,604a595bc1a48,1541698527,5,clickout item,NaN,CA,"Calgary, Canada",tablet,NaN,44274|43898|5195082|44735|44762|44115|1400574|...,40|60|89|99|63|86|73|66|80|73|120|56|98|85|106...
6858,D7YVABI9H374,4174a2cd41695,1541573924,6,clickout item,NaN,NO,"Leeds, United Kingdom",mobile,NaN,148972|18755|148968|46612|1153462|18747|18748|...,78|108|87|66|67|92|108|100|172|100|58|68|112|6...
7077,E358QRERBVH0,0f00f420f20f5,1541666632,10,clickout item,NaN,TR,"Göynük, Turkey",desktop,NaN,3181779|3590640|97298|1663359|3845896|5008542|...,47|29|40|33|8|36|38|33|26|30|35|13|9|15|14|20|...
...,...,...,...,...,...,...,...,...,...,...,...,...
3772631,JF3H2R4X9XAF,95190704f46c9,1541698957,6,clickout item,NaN,UK,"Nottingham, United Kingdom",desktop,NaN,19370|19368|149631|149626|342701|2552723|46276...,144|160|137|148|144|108|117|97|114|157|137|141...
3772777,JQ5J1R71NY9G,cc19f5da060fc,1541600499,18,clickout item,NaN,UK,"Newquay, United Kingdom",mobile,NaN,19541|19532|19527|1328090|846601|1251602|60854...,57|132|63|245|72|80|192|58|50|132|86|82|72|117...
3774013,KDP5I1AD8M2R,efcdb718b26e5,1541599762,10,clickout item,NaN,NL,"Barcelona, Spain",desktop,NaN,147535|3107428|6761|6740|6812|147488|7998246|4...,216|190|137|264|283|186|252|150|89|73|596|99|2...
3774177,L7Z8MOR16XT5,6cf75da3f44f4,1541602050,30,clickout item,NaN,AT,"Bled, Slovenia",mobile,NaN,492116|320131|999667|383566|3087148|490966|351...,68|106|98|104|107|88|196|115|88|141|150|96|38|...
3775201,MI72W8542M91,eb8047d92083d,1541673136,5,clickout item,NaN,BR,"Florianópolis, Brazil",desktop,NaN,1750539|8266238|1241431|977414|5473450|2053938...,68|68|58|41|249|195|36|85|48|78|48|42|61|18|55...
3775228,MJH2GKQV4MSW,b0bb5aeec302c,1541607870,27,clickout item,NaN,BR,"Aracaju, Brazil",desktop,NaN,104929|1827211|4816538|1204256|501816|503896|6...,62|36|28|88|53|60|35|32|40|53|28|35|43|24|33|3...
3775284,MQ3DXSCQRFP0,3616146132ee5,1541700464,26,clickout item,NaN,NL,"Utrecht, Netherlands",mobile,NaN,3135533|42068|942471|5210688|3160644|2068582|1...,90|89|75|93|67|60|61|79|93|89|66|90|72|89|88
3775397,MUU5A0HGZ2U7,ceee6fba6ecf3,1541642696,77,clickout item,NaN,MY,"Batu Ferringhi, Malaysia",mobile,NaN,126695|96851|1206554|116087|94860|118781|56949...,75|77|120|66|50|150|57|48|103|83|119|48|100|42...
3775542,N1KMO10JZ7TO,2132f44c8b54c,1541600211,6,clickout item,NaN,TR,"Sapanca, Turkey",desktop,NaN,1201176|1088496|2824434|4106380|2875920|457281...,134|146|55|33|40|75|67|45|49|55|157|899|130|19...
3776073,O9J12VBAI9S7,f089f78da7d12,1541578169,19,clickout item,NaN,PL,"Kolymbari, Greece",desktop,NaN,33362|9657|38552|96878|688106|1106248|1375538|...,115|70|149|52|84|111|50|64|44|64|70|66|56|67|5...
3776380,OL9RHHXWOMOO,b05256ab1d42d,1541695191,35,clickout item,NaN,BR,"São Luís, Brazil",mobile,NaN,1555637|1710653|391411|10114862|1654267|519801...,94|45|113|56|75|67|82|65|83|51|42|50|62|60|47|...
3776726,P69IXJ1CUXQ1,4d7b739b23093,1541618048,5,clickout item,NaN,AR,"Mar del Plata, Argentina",mobile,NaN,477241|2423015|4926748|5127754|4561982|4988662...,35|42|67|54|27|79|69|58|24|23|47|130|56|49|61|...
3776992,QBYDY5BPX03O,66289832ab72b,1541624502,3,clickout item,NaN,ES,"Vigo, Spain",mobile,NaN,1406811|1709737|156750|157758|482621|3974916|1...,95|50|71|95|100|68|98|50|36|69|38|74|63|30|34|...
3777572,S0D6REXK3103,cd0ccbe9fe33b,1541683397,20,clickout item,NaN,IN,"Malvan, India",mobile,Free WiFi (Combined),4533202|5933952|6404070|6798224|9324754|931203...,157|54|109|54|66|52|76|44|53|52|41|81|49|35|49...
3777702,S3PK347XL6FI,69f5251018035,1541666004,8,clickout item,NaN,ID,"Pati, Indonesia",mobile,NaN,5515944|4935742|2379410|3815588,18|27|18|11
3778028,S5H5WQF30I7J,df8801e6c0d37,1541609420,3,clickout item,NaN,AR,"Costa do Sauípe, Brazil",desktop,NaN,95842|1246210|117995|2813990|9678808|2891760|1...,235|330|220|58|441|99|97|662|398|324|331|116|9...
3778035,S5L97O3I186H,976c0fbbbca7a,1541717286,7,clickout item,NaN,US,"Davenport, USA",mobile,NaN,8283|79914|102788|1365052|62690|1392980|990419...,181|198|90|121|88|136|308|247|70|184|140|189|2...
3778939,TAM2H5RPG838,363d1c790192d,1541588285,4,clickout item,NaN,IT,"Bologna, Italy",mobile,NaN,33070|3160254|45014|881029|45294|22520|2572724...,73|914|89|161|81|170|58|79|120|72|233|93|106|7...
3778978,THBV6F7YBSSN,b6e9b2987cfc6,1541718217,13,clickout item,NaN,CA,"Venice, Italy",desktop,5 Star|Hotel|Motel|Resort|Hostal (ES)|Free WiF...,1591921|14625|150965|984549|14659|46010|151012...,262|349|255|279|678|211|294|398|302|370|448|165
3779001,TJTD6QH5SSA2,0af66cdf2ec82,1541640340,6,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",mobile,NaN,101381|101409|101389|95870|1945525|101373|9331...,44|38|53|47|41|52|99|47|73|58|56|78|103|70|52|...
3779289,UK1WE576CAJS,ecc47b3168b5d,1541714251,20,clickout item,NaN,UK,"Newton Aycliffe, United Kingdom",tablet,NaN,47311|2091530|604686|46922|1465721|342236|1264...,86|86|98|41|63|62|56|61|57|34|52|149|59|68|80|...
3779338,UWB3NOSGG4II,5b4de032d90a5,1541598423,17,clickout item,NaN,PH,"Baguio, Philippines",desktop,NaN,2641814|528971|9171490|3505468|7979644|4010562...,22|24|11|26|24|15|26|24|15|25|16|12|23|18|25|2...
3779342,UX0AGHIHUZ4T,292cd9facb3c4,1541638866,4,clickout item,NaN,MY,"Malacca, Malaysia",mobile,NaN,2292206|4387516|2106324|2296554|3768806|229565...,21|22|16|21|23|19|53|28|45|25|33|36|53|39|71|1...
3779982,WK26RI9O6YM7,690243ad60f8c,1541685801,4,clickout item,NaN,BR,"Jijoca de Jericoacoara, Brazil",mobile,NaN,9818018|109323|3133068|1305190|1827179|1061840...,151|107|112|76|78|111|63|78|67|60|54|123|51|40...
3780149,WWYDTIJRD2FC,2d8f0e9393b46,1541627309,6,clickout item,NaN,IE,"Tallaght, Ireland",mobile,NaN,46112|46041|401081|46106|46059|46061|344806|14...,122|134|159|149|152|159|133|149|239|134|304|24...
3780474,X6B8QYSM82WH,5c85182dab2db,1541570253,8,clickout item,NaN,JP,"Matsue, Japan",desktop,NaN,500016|1739057|1020265|4227900,86|53|113|141
3780565,XJSRV7IPZ17Z,d17834bcc500d,1541705978,5,clickout item,NaN,US,"Clackamas, USA",mobile,NaN,67580|354581|74323|63807|79620|73651|4742822|9...,81|77|70|104|96|139|96|70|48|87|48|95|76|166|1...
3781284,YM5HKM887U82,964ee07814108,1541596697,4,clickout item,NaN,HU,"Kecskemét, Hungary",desktop,NaN,2627815|1014541|2271762|2030457|1082324|244255...,104|32|50|32|82|93|64|50|32|57|30|53|40|40|38|...
3781706,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,clickout item,NaN,PE,"Máncora, Peru",mobile,NaN,3215419|2828636|3066968|1796789|2441706|271802...,43|56|70|53|55|44|123|97|104|40|44|40|70|6|20|...
3781844,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,101409|101389|101381|95870|3484802|101373|1945...,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...

In [0]:
df = df_noinfo_target.merge(df_pivot, on = 'session_id') # 오른쪽 row개수대로 자동으로 왼족 row 개수 복제해준다! wow

In [0]:
df_expl = f1.explode(df, "impressions")

In [0]:
df_expl # 32만3천 cos-sim계산

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,prices,clickout,impressions
0,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,513401
1,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1700081
2,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,479176
3,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1496061
4,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1045504
5,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1627077
6,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,477916
7,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,513656
8,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,5115914
9,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,6032676
10,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,478606
11,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1656023
12,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,5817502
13,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1950193
14,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1709241
15,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,2260530
16,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,8259480
17,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,477856
18,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1496455
19,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,8792296
20,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1948107
21,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,3755818
22,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,3504972
23,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,4154908
24,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,clickout item,NaN,BR,"Tibau do Sul, Brazil",mobile,NaN,50|67|41|45|50|58|40|151|42|57|51|55|160|59|11...,513401.0,1450373
25,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,clickout item,NaN,FR,"Calvi, France",desktop,NaN,60|70|88|68|49|56|57|56|61|59|251|264|613|129|...,4030032.0,4030032
26,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,clickout item,NaN,FR,"Calvi, France",desktop,NaN,60|70|88|68|49|56|57|56|61|59|251|264|613|129|...,4030032.0,493996
27,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,clickout item,NaN,FR,"Calvi, France",desktop,NaN,60|70|88|68|49|56|57|56|61|59|251|264|613|129|...,4030032.0,1650929
28,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,clickout item,NaN,FR,"Calvi, France",desktop,NaN,60|70|88|68|49|56|57|56|61|59|251|264|613|129|...,4030032.0,2707574
29,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,clickout item,NaN,FR,"Calvi, France",desktop,NaN,60|70|88|68|49|56|57|56|61|59|251|264|613|129|...,4030032.0,122383
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323321,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,clickout item,NaN,PE,"Máncora, Peru",mobile,NaN,43|56|70|53|55|44|123|97|104|40|44|40|70|6|20|...,3066968.0,2250726
323322,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,clickout item,NaN,PE,"Máncora, Peru",mobile,NaN,43|56|70|53|55|44|123|97|104|40|44|40|70|6|20|...,3066968.0,3204500
323323,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,clickout item,NaN,PE,"Máncora, Peru",mobile,NaN,43|56|70|53|55|44|123|97|104|40|44|40|70|6|20|...,3066968.0,1019547
323324,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,clickout item,NaN,PE,"Máncora, Peru",mobile,NaN,43|56|70|53|55|44|123|97|104|40|44|40|70|6|20|...,3066968.0,2114504
323325,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,clickout item,NaN,PE,"Máncora, Peru",mobile,NaN,43|56|70|53|55|44|123|97|104|40|44|40|70|6|20|...,3066968.0,3249245
323326,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101409
323327,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101389
323328,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101381
323329,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,95870
323330,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,3484802
323331,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101373
323332,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,1945525
323333,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101377
323334,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,10134040
323335,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101404
323336,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,93319
323337,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101372
323338,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101387
323339,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101392
323340,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101403
323341,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101406
323342,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,101408
323343,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,110235
323344,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,134874
323345,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,693841
323346,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,897961
323347,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,1035030
323348,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,1165867
323349,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,1835319
323350,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,clickout item,NaN,MY,"Kuala Lumpur, Malaysia",desktop,NaN,38|47|44|52|48|48|40|41|32|60|106|46|56|56|103...,101409.0,1939651

In [0]:
# 문제 : df_prop에 없는 item_id가 있다. 이 경우 cossim 안구해짐. 이 item id를 df_expl에서 제거해야한다. 

# 8개 제외
in_clickout = set(df_expl.clickout) - (set(df_expl.clickout) - (set(df_prop.item_id) & set(df_expl.clickout)))

# 120개 제외
in_ref = set(df_expl.impressions) - (set(df_expl.impressions) - (set(df_prop.item_id) & set(df_expl.impressions)))

In [0]:
df_expl = df_expl.loc[(df_expl.clickout.isin(in_clickout)) & (df_expl.impressions.isin(in_ref))]

## Step 2  cos-sim 구하기

In [0]:
# 1 using APPLY (*RECOMMENDED!)
def cos(pivot, comp):
  pivot = np.delete(np.array(df_prop.loc[df_prop.item_id == pivot]), [0]).reshape(1,-1)
  comp = np.delete(np.array(df_prop.loc[df_prop.item_id == comp]), [0]).reshape(1,-1)
  cosine_similarity(pivot,comp).flatten()
  
df_expl['similarity'] = df_expl.apply(lambda row : cos(df_expl['clickout'], df_expl['impressions']), axis = 1)

ValueError: ignored

In [0]:
# 2. using FOR (오래걸림매우매우 *지양)
from tqdm import tqdm_notebook

In [0]:
tempt = zip(df_expl.clickout,df_expl.impressions)

In [0]:
start = np.array([])
for x,y in tqdm_notebook(tempt):
  pivot = np.delete(np.array(df_prop.loc[df_prop.item_id == x]), [0]).reshape(1,-1)
  comp = np.delete(np.array(df_prop.loc[df_prop.item_id == y]), [0]).reshape(1,-1)
  start = np.hstack([start, cosine_similarity(pivot,comp).flatten()])

In [0]:
start

array([1.        , 0.46659064, 0.51499152, ..., 0.69566559, 0.86755369,
       0.78693588])

In [0]:
df_expl['similarity'] = start

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_sub = df_expl[['session_id','impressions', 'similarity']]

In [0]:
df_sub

           session_id  impressions  similarity
0       d80dc1f57e556       513401    1.000000
1       d80dc1f57e556      1700081    0.466591
2       d80dc1f57e556       479176    0.514992
3       d80dc1f57e556      1496061    0.624500
4       d80dc1f57e556      1045504    0.526135
5       d80dc1f57e556      1627077    0.546231
6       d80dc1f57e556       477916    0.421057
7       d80dc1f57e556       513656    0.695781
8       d80dc1f57e556      5115914    0.680545
9       d80dc1f57e556      6032676    0.657494
10      d80dc1f57e556       478606    0.679366
11      d80dc1f57e556      1656023    0.652714
12      d80dc1f57e556      5817502    0.582572
13      d80dc1f57e556      1950193    0.490499
14      d80dc1f57e556      1709241    0.638345
15      d80dc1f57e556      2260530    0.702863
16      d80dc1f57e556      8259480    0.583545
17      d80dc1f57e556       477856    0.551985
18      d80dc1f57e556      1496455    0.711684
19      d80dc1f57e556      8792296    0.240192
20      d80dc1f57e556      1948107    0.666586
21      d80dc1f57e556      3755818    0.667101
22      d80dc1f57e556      3504972    0.631586
23      d80dc1f57e556      4154908    0.433629
24      d80dc1f57e556      1450373    0.595437
25      a67e7e91205e9      4030032    1.000000
26      a67e7e91205e9       493996    0.615838
27      a67e7e91205e9      1650929    0.534183
28      a67e7e91205e9      2707574    0.532016
29      a67e7e91205e9       122383    0.675845
...               ...          ...         ...
323321  7cc8c6b3f4a97      2250726    0.537706
323322  7cc8c6b3f4a97      3204500    0.734931
323323  7cc8c6b3f4a97      1019547    0.411476
323324  7cc8c6b3f4a97      2114504    0.733779
323325  7cc8c6b3f4a97      3249245    0.734931
323326  6f5d6ebfe10b5       101409    1.000000
323327  6f5d6ebfe10b5       101389    0.884949
323328  6f5d6ebfe10b5       101381    0.784465
323329  6f5d6ebfe10b5        95870    0.801298
323330  6f5d6ebfe10b5      3484802    0.753778
323331  6f5d6ebfe10b5       101373    0.885238
323332  6f5d6ebfe10b5      1945525    0.722152
323333  6f5d6ebfe10b5       101377    0.844444
323334  6f5d6ebfe10b5     10134040    0.277778
323335  6f5d6ebfe10b5       101404    0.833333
323336  6f5d6ebfe10b5        93319    0.861175
323337  6f5d6ebfe10b5       101372    0.769877
323338  6f5d6ebfe10b5       101387    0.689730
323339  6f5d6ebfe10b5       101392    0.826334
323340  6f5d6ebfe10b5       101403    0.855334
323341  6f5d6ebfe10b5       101406    0.794872
323342  6f5d6ebfe10b5       101408    0.812848
323343  6f5d6ebfe10b5       110235    0.860919
323344  6f5d6ebfe10b5       134874    0.841558
323345  6f5d6ebfe10b5       693841    0.673710
323346  6f5d6ebfe10b5       897961    0.849940
323347  6f5d6ebfe10b5      1035030    0.821926
323348  6f5d6ebfe10b5      1165867    0.695666
323349  6f5d6ebfe10b5      1835319    0.867554
323350  6f5d6ebfe10b5      1939651    0.786936

[323181 rows x 3 columns]

In [0]:
GR_COLS = ["user_id", "session_id", "timestamp","step"]
df_out = df_expl.assign(impressions = lambda x: x["impressions"].apply(str)).sort_values(GR_COLS + ["similarity"], ascending = [True, True,True, True, False])

In [0]:
df_out = f1.group_concat(df_out, GR_COLS, "impressions")
df_out.rename(columns = {"impressions" : "item_recommendations"}, inplace = True)
df_out

,user_id,session_id,timestamp,step,item_recommendations
0,002CUWLQDUV7,df9bd7cb3dbac,1541620323,4,16667 16790 52692 16721 51800 6264312 4936930 ...
1,003XRCCDD37S,da615a2710903,1541608168,3,1295070 2898744 2606906 2644004 4962844 277455...
2,008WVHQ5AMHZ,9949978200674,1541673098,3,52220 52980 53677 51288 2133708 1384302 162227...
3,00AT1J5PQY60,805c3d370312e,1541578458,5,5164008 2714522 6622368 80218 37520 98942 2417...
4,00CBN9FD9NSM,0a90d6ed14c0b,1541639087,17,3244244 2777115 3893112 3243338 2125674 404414...
5,00D9SRYXPQ96,f9e1c9d7b9d2b,1541634340,10,158343 159742 1610595 1909147 1913657 6563298 ...
6,00E0MO98FD6I,6380897ff5684,1541563256,3,509846 960131 3762536 1081912 927279 3133242 1...
7,00G1USQ1K5U3,b5ecd4e995f5a,1541705107,4,1962553 2902020 2031019 2902388 4103288 267803...
8,00GITS8Y93FY,d1669863c815a,1541678919,3,4745554 2677804 2197340 2568682 2032093 149605...
9,00HQ67Y7PBX6,b967be66f43d7,1541720129,3,8653 890283 1504633 8813 8812 8771 4593172 870...
10,00L6GHO1D3V5,60009351e8dab,1541705915,22,87738 921283 87741 2069404 1059804 87744 10270...
11,00M19O07I1VI,f568e635c5afe,1541591882,4,9213352 6671494 3371396 2661820 8959096 284123...
12,00MK5UUMWU41,711eaeec80d54,1541676570,6,2525862 2526306 1729203 2257296 1505987 255895...
13,00P5THS72Z6O,318ffa855f994,1541705999,11,9671366 9526736 5754640 4788072 7854304 320704...
14,00PAKWM4XUJ1,91c53165d4b92,1541644946,61,6281768 2717324 1022105 1725749 1022133 102211...
15,00Z52ALPKTY6,577c7cce68b25,1541592360,8,1049662 1633451 1588209 2153528 693426 1342447...
16,00Z646R0FEL3,34091f8c906ac,1541714085,4,10273370 2183152 6167574 6092002 400031 153048...
17,00ZEWJ76QDLB,96542ad8948db,1541653770,4,8567 129571 2851635 77124 935411 8613 102080 8...
18,010Y11DF5VK4,2a0d59e56115f,1541619990,4,945357 2506020 151445 2728192 1015831 104223 4...
19,011W01EWC9RA,2ca535b1d9e6e,1541603175,10,346991 1135824 980141 103504 2418258 1021111 4...
20,013OWCG85M65,5ee49b82022ba,1541677774,4,101395 101387 693841 1287702 110238 101391 933...
21,014EWX22W229,0a15e99aab0e3,1541704865,19,831926 821196 158526 186206 2045679 1755741 31...
22,018AFQJSQW9Y,b79b3298ebf7d,1541594813,24,1701999 1101400 2679686 2561419 3498526 165835...
23,01ADVO81LIJA,5bc6708106ea7,1541575402,4,3188502 6556870 6697142 344301 1001553 6340208...
24,01AEWR4SIMUS,675db55d2f805,1541685233,8,183306 1365334 1026906 5527042 3824854 5147480...
25,01BCC5WQZCJ7,b100de70e9784,1541685545,3,1181534 1148496 1148494 1585035 1198476 114848...
26,01BFZ1NO2PK1,5e9912d8ad287,1541567439,4,2196042 2296608 3860360 2600968 5491904 338333...
27,01CS9TC06V88,ef1ffce314931,1541614828,51,1244976 1009189 1827867 1244681 1244663 124499...
28,01LNAP6KEO2G,6243a37777f56,1541695706,7,14016 43296 43297 3126230 87369 87370 14006 43...
29,01PT16S4M34N,78f1b74be93f0,1541667512,4,99506 1352206 939080 614051 1022507 99502 1088...
...,...,...,...,...,...
14075,ZX2AFYU4J5EZ,6cf90122381d8,1541716084,4,1707807 1748219 2094758 871696 4712060 9344662...
14076,ZX7075J06YOJ,335df5a77f820,1541698098,8,84388 3085440 9230 84387 87446 236021 9231 923...
14077,ZX7NWAX3WNXV,b9f9225443dcc,1541695906,10,3183326 3491440 1775073 34467 42378 2786142 42...
14078,ZX8F276J07M6,c655358ec9eaa,1541623383,5,2143946 2155018 1771889 2876760 5214176 870911...
14079,ZX9YOJSEWBEI,9f9056193fe2c,1541572623,17,6447422 2720518 3515822 4493472 3583382 685277...
14080,ZXC7FE90F9UT,6684179aea9e8,1541668604,7,2664850 3870676 5637432 5054506 3762016 278846...
14081,ZXH8J5S3LFNV,71bec0803675c,1541593509,39,1030480 1357643 2032121 1394084 1226848 278436...
14082,ZXKBB5K14M31,1fe6d6de449ff,1541685985,8,8939996 6655310 8135428 9431050 110188 981317 ...
14083,ZXNF6TJJKU9J,2fdf2a0a9d3b8,1541716802,21,2551186 2277866 2675282 4916424 10261120 83341...
14084,ZXOX8HRH72K6,f41a4adf97b2f,1541639060,19,2796337 5656532 4027902 3493018 4234558 126364...
14085,ZXXJZF9BNO4L,64aec640b4cf2,1541678668,8,2175296 1045134 1688199 557781 1378574 593661 ...
14086,ZY5GC30KCR5Z,385f51ec5909d,1541705831,10,6693900 6276834 4684018 4923072 7133422 668500...
14087,ZY6GN470T448,0e95d0febaded,1541707262,3,6953688 6299662 6805494 8498588 7873188 773041...
14088,ZY7YOZ01G153,b049a365237a5,1541584964,6,103513 103472 153172 1131867 103622 2229796 15...
14089,ZYIYOJWTQ2W7,41bb034a5d04b,1541669751,5,6462 134020 148835 14955 6441 107590 2448540 6...
14090,ZZ3024CT4HHO,8cf0b6448435b,1541554026,18,1452157 87352 43294 5075824 87324 8526442 1007...
14091,ZZ3CVF34XRAD,39ada8c995617,1541583862,12,2030079 3554480 4500498 2029079 1746699 242441...
14092,ZZ5VN6KC16VQ,71a3502824151,1541686597,6,81599 49001 81587 14621 5524556 12305 50440 49...
14093,ZZ6BJ7LI5XLJ,ea0deef2c3a36,1541612712,10,3143116 1258576 2429186 926625 4064918 4611916...
14094,ZZ77HIUXLD4Z,5347f9f677dc8,1541699481,6,2454120 1001561 1669619 2816692 1668645 282870...
14095,ZZ79P567W6MV,175b80151a76a,1541611032,6,1178700 2055908 1364337 1394238 1362530 107458...
14096,ZZ7ZDCRI0A3T,7dbca0a2793c8,1541564718,8,4481764 71636 5156454 57954 5180544 65187 6596...
14097,ZZDQWSTYM0A1,0e9afea75051a,1541716508,7,2297592 103205 1180562 1149045 980825 510381 5...
14098,ZZH7C81O8G36,c0c016f8114ee,1541709927,37,1351548 5012350 2009051 352431 699241 789266 2...
14099,ZZMCMZTOXMZF,ffac1254b89f2,1541705727,7,3053730 3824308 2596631 8901348 960871 2297544...
14100,ZZMDR1P6S3TF,4bd8f32b14e08,1541608508,12,46066 224321 148242 12449 401081 156610 46127 ...
14101,ZZMODRG866F9,2684ff262c812,1541656281,3,4582576 3503952 927407 437591 1774503 1984221 ...
14102,ZZQ4369EKY9Y,29d82838384dc,1541615300,5,42258 4345706 3812500 137704 3135510 4293266 2...
14103,ZZTFVH93H4ME,91618a00b2da8,1541584670,6,947863 2013833 1284802 632511 3133806 19568 14...
14104,ZZUTJ8I05P4P,1c4e54baf8524,1541582983,3,7868828 2973130 2992820 2979468 2965118 295928...

## Step 3 이전 submission에서 해당되는 열만 값 바꾸기

In [0]:
sub = pd.read_csv(path + '190506.csv')

In [0]:
sub.shape

(253573, 5)

In [0]:
sub_origin = sub.iloc[sub.index.difference(sub.loc[sub.session_id.isin(df_out.session_id)].index)]

In [0]:
df_sub = pd.concat([sub_origin, df_out])

In [0]:
df_sub.sort_values(["user_id"], ascending = True, inplace = True)

In [0]:
df_sub.to_csv(path + "190512.csv", index = False)