In [0]:
# Google 드라이브를 마운트하려면 이 셀을 실행하세요.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
os.listdir('./drive/My Drive/colab/recsys/data')
path = './drive/My Drive/colab/recsys/data/'

In [0]:
import pandas as pd
import numpy as np

In [0]:
#train = pd.read_csv(path+'train.csv')
test = pd.read_csv(path + 'test.csv')

In [0]:
print('test data에서 맞춰야되는 개수 : ',len(test[test.reference.isnull()]))
print('test data에서 clickout 개수 : ', len(test[test.action_type == 'clickout item']))

test data에서 맞춰야되는 개수 :  261731
test data에서 clickout 개수 :  528779

In [0]:
528779 - 261731

267048

In [0]:
print('test data에서의 click out 하는 session id 개수 : ',len(test[(test.action_type == 'clickout item')]['session_id'].unique()))
print('test data에서 맞춰야 되는 session id 개수 : ',len(test[test.reference.isnull()]['session_id'].unique()))

test data에서의 click out 하는 session id 개수 :  275679
test data에서 맞춰야 되는 session id 개수 :  261731

In [0]:
not_na = list(set(test[(test.action_type == 'clickout item')]['session_id'].unique()) - set(test[test.reference.isnull()]['session_id'].unique()))

In [0]:
#NA인 clickout
na_clickout = test[(test.action_type == 'clickout item') & (test.reference.isnull())]
print('전체 개수 : ',len(na_clickout))
print('session_id unique : ',len(na_clickout.session_id.unique()))

전체 개수 :  253573
session_id unique :  253573

In [0]:
na_clickout = na_clickout[['user_id','session_id','timestamp','step']]
na_clickout.reset_index(inplace = True)
na_clickout.head()

   index       user_id     session_id   timestamp  step
0      6  004A07DM0IDW  1d688ec168932  1541555799     7
1      8  009RGHI3G9A3  f05ab0de907e2  1541570940     2
2     10  00Y1Z24X8084  26b6d294d66e7  1541651823     2
3     15  01V3WDTDM5CU  07628a0f5be0b  1541575643     5
4     61  02AOAVF9PVYH  4a01c3afbc224  1541681278    46

In [0]:
na_clickout.tail(3)

          index       user_id     session_id   timestamp  step
253570  3782327  ZYMVSZ5A3KQI  8cd16c29b733b  1541695019     2
253571  3782333  ZZ39YE45SZIE  f5db4092ec9fc  1541551945     6
253572  3782334  ZZCM39YKI3NR  6226bde1465e7  1541601178     1

In [0]:
0~5
7~7
9~9
11~14
16~60

In [0]:
first = (np.array([-1] + list(na_clickout['index'].values))[:-1] +1)[:-1]
last = (na_clickout['index'].values - 1)[:-1]

In [0]:
fl = np.stack((first, last), axis = 1)
#fl = [range(flfl[0], flfl[1] +1) for flfl in fl]

In [0]:
#test['TF'] = np.nan
for f,l in zip(first[181460:200000],last[181460:200000]):
  test.loc[[f,l],'TF'] = True

KeyboardInterrupt: ignored

In [0]:
test['TF'].to_pickle(path+ 'TF.p')