In [1]:
import pandas as pd
import numpy as np
import os
os.listdir('../input')

['train.csv',
 'submission_popular.csv',
 'item_metadata.csv',
 'df_full_except_noinfo.csv',
 'test.csv',
 'dwell_df.csv',
 'dwell_time_agg.csv']

In [2]:
path = '../input/'
test = pd.read_csv(path + 'test.csv')

In [3]:
#NA인 clickout
na_clickout = test[(test.action_type == 'clickout item') & (test.reference.isnull())]
print('전체 개수 : ',len(na_clickout))
print('session_id unique : ',len(na_clickout.session_id.unique()))

전체 개수 :  253573
session_id unique :  253573

In [6]:
na_clickout = na_clickout[['user_id','session_id','timestamp','step']]
na_clickout.reset_index(inplace = True)
na_clickout.head()

   index       user_id     session_id   timestamp  step
0      0  004A07DM0IDW  1d688ec168932  1541555799     7
1      1  009RGHI3G9A3  f05ab0de907e2  1541570940     2
2      2  00Y1Z24X8084  26b6d294d66e7  1541651823     2
3      3  01V3WDTDM5CU  07628a0f5be0b  1541575643     5
4      4  02AOAVF9PVYH  4a01c3afbc224  1541681278    46

In [7]:
first = (np.array([-1] + list(na_clickout['index'].values))[:-1] +1)[:-1]
last = (na_clickout['index'].values - 1)[:-1]

In [8]:
fl = np.stack((first, last), axis = 1)

In [9]:
i = 181459
for f,l in zip(first[181460:],last[181460:]):
    i+=1
    if i%10000 == 0 :
        print(i)
    
    test.loc[[f,l],'TF'] = True

190000
200000
210000
220000
230000
240000
250000

In [10]:
test['TF'].to_pickle(path + 'tf.p')