In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
print(os.listdir("../input"))

['item_metadata.csv', 'submission_popular.csv', 'test.csv', 'train.csv']

# train

In [19]:
train = pd.read_csv('../input/train.csv')
print('train data shape : ',train.shape)

train data shape :  (15932992, 12)

In [21]:
#unix to datetime
train['timestamp'] = pd.to_datetime(train['timestamp'],unit='s')
train.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,008UN2RY0DMY,cd10940538005,2018-11-01 00:14:03,1,search for destination,"Rochester, USA",US,"Rochester, USA",desktop,NaN,NaN,NaN
1,008UN2RY0DMY,cd10940538005,2018-11-01 00:17:43,2,change of sort order,interaction sort button,US,"Rochester, USA",desktop,NaN,NaN,NaN
2,008UN2RY0DMY,cd10940538005,2018-11-01 00:17:53,3,change of sort order,distance and recommended,US,"Rochester, USA",desktop,NaN,NaN,NaN
3,008UN2RY0DMY,cd10940538005,2018-11-01 00:17:53,4,filter selection,Focus on Distance,US,"Rochester, USA",desktop,Focus on Distance,NaN,NaN
4,008UN2RY0DMY,cd10940538005,2018-11-01 00:19:10,5,interaction item image,57103,US,"Rochester, USA",desktop,NaN,NaN,NaN

## 데이터 기준 날짜
- 2018-11-01 00:00:08~ 2018-11-06 23:59:59

In [71]:
print('train data 시작 시간 : ',train.timestamp.min())
print('train data 마지막 시간 : ',train.timestamp.max())

train data 시작 시간 :  2018-11-01 00:00:08
train data 마지막 시간 :  2018-11-06 23:59:59

## na

In [6]:
train.isnull().sum()

user_id                   0
session_id                0
timestamp                 0
step                      0
action_type               0
reference                 0
platform                  0
city                      0
device                    0
current_filters    15163375
impressions        14346406
prices             14346406
dtype: int64

In [15]:
print('prices NA인 경우와 impressions NA인 경우가 같다 ') if len(train[(train.prices.isna()) & (train.impressions.isna())]) == train.prices.isna().sum() else print('다르다!')

prices NA인 경우와 impressions NA인 경우가 같다

### current_filters notna
- hotel ES 가 뭘까??

In [25]:
train.loc[train.current_filters.notna()].head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
3,008UN2RY0DMY,cd10940538005,2018-11-01 00:17:53,4,filter selection,Focus on Distance,US,"Rochester, USA",desktop,Focus on Distance,NaN,NaN
810,0A9DDRRPHSU8,0db28996deb66,2018-11-01 11:12:23,2,filter selection,Hostal (ES),US,"Barcelona, Spain",desktop,Hotel|Resort|Hostal (ES),NaN,NaN
811,0A9DDRRPHSU8,0db28996deb66,2018-11-01 11:12:23,3,filter selection,Hotel,US,"Barcelona, Spain",desktop,Hotel|Resort|Hostal (ES),NaN,NaN
812,0A9DDRRPHSU8,0db28996deb66,2018-11-01 11:12:23,4,filter selection,Resort,US,"Barcelona, Spain",desktop,Hotel|Resort|Hostal (ES),NaN,NaN
813,0A9DDRRPHSU8,0db28996deb66,2018-11-01 11:12:33,5,filter selection,Serviced Apartment,US,"Barcelona, Spain",desktop,Hotel|Resort|Hostal (ES)|House / Apartment|Ser...,NaN,NaN

- current_filters  가 na가 아닌 것들 중에서 action_type의 첫번째 값을 보면, filter selection이 아닐까?
-> 아님! 왜일까..

In [28]:
filter_ = pd.DataFrame(train.loc[train.current_filters.notna()].groupby('session_id')['action_type'].first())

In [30]:
#poi : points of interest(관심 지점 : gps)
filter_.action_type.value_counts()

filter selection          196572
search for destination      6752
search for poi              2342
clickout item                  5
change of sort order           2
interaction item image         2
search for item                1
Name: action_type, dtype: int64

In [35]:
train[train.session_id == filter_[filter_.action_type == 'clickout item'].index[0]]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
889435,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:15:53,1,clickout item,24361,IT,"Siena, Italy",tablet,NaN,4783948|5828800|8413364|150624|24366|2289794|2...,150|162|108|130|88|95|149|170|126|95|110|87|84...
889436,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:15:53,2,clickout item,24361,IT,"Siena, Italy",tablet,Free WiFi (Combined)|Pet Friendly|Breakfast In...,24337|150624|5828800|2397775|24366|3215782|243...,126|130|162|141|88|87|87|95|167|108|150|95|84|...
889437,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:21:36,3,search for destination,"Siena, Italy",IT,"Siena, Italy",tablet,Free WiFi (Combined)|Pet Friendly|Breakfast In...,NaN,NaN
889438,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:21,4,search for item,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889439,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:24,5,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889440,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:24,6,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889441,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:28,7,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889442,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:30,8,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889443,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:30,9,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889444,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:39,10,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889445,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:39,11,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889446,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:39,12,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889447,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:39,13,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889448,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:39,14,interaction item image,6278310,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889449,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,15,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889450,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,16,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889451,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,17,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889452,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,18,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889453,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,19,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889454,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,20,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889455,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:22:50,21,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889456,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,22,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889457,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,23,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889458,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,24,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889459,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,25,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889460,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,26,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889461,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,27,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889462,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,28,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889463,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,29,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889464,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,30,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889465,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:00,31,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN
889466,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:06,32,clickout item,24333,IT,"Siena, Italy",tablet,NaN,4783948|2289794|24356|5828800|24353|4438152|24...,150|95|110|162|84|75|126|121|170|282|87|141|88...
889467,98CA5EEVX83K,2cc7ed7efc41b,2018-11-04 20:23:10,33,interaction item image,24333,IT,"Siena, Italy",tablet,NaN,NaN,NaN

## count

### user ID & session ID

In [53]:
train.session_id.value_counts().head()

3167404ed3197    3522
948641e533837    2816
9233fb83c116b    2800
191ae48e3cb8e    2648
c9b863c921a2d    2640
Name: session_id, dtype: int64

In [38]:
print('user ID 개수 : ', len(train.user_id.unique()))
print('session ID 개수 : ', len(train.session_id.unique()))

user ID 개수 :  730803
session ID 개수 :  910683

In [46]:
#user_id 별 session_id 개수의 평균.
train.groupby(['user_id'])['session_id'].nunique().mean()

1.2461402046789627

### current_filters

In [20]:
train.current_filters.value_counts()

Sort by Price                                                                                                                                  77826
Focus on Distance                                                                                                                              42332
Best Value                                                                                                                                     40861
5 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                                          24216
5 Star|4 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                                   20014
5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                            16784
Excellent Rating                                                                                                                               12163
Very Good Rating                                                                                                                               11686
Sort By Distance                                                                                                                               11195
House / Apartment|Serviced Apartment                                                                                                           10169
5 Star|Hotel|Motel|Resort|Hostal (ES)|4 Star                                                                                                    9888
Hotel                                                                                                                                           9611
Hotel|Resort                                                                                                                                    8692
Focus on Rating                                                                                                                                 8591
Free WiFi (Combined)                                                                                                                            7969
Breakfast Included                                                                                                                              7465
Good Rating                                                                                                                                     7058
5 Star                                                                                                                                          6162
Sort By Rating                                                                                                                                  6083
4 Star                                                                                                                                          5862
Swimming Pool (Combined Filter)                                                                                                                 5272
Car Park                                                                                                                                        5081
5 Star|Hotel|Motel|Resort|Hostal (ES)|4 Star|3 Star                                                                                             5060
House / Apartment                                                                                                                               4996
5 Star|4 Star|3 Star|2 Star|1 Star|Hotel|Motel|Resort|Hostal (ES)                                                                               4978
5 Star|4 Star|3 Star|2 Star|Hotel|Motel|Resort|Hostal (ES)                                                                                      4706
Hotel Chain                                                                                                                                     4350
Pet Friendly                                                                                                                                    3614
3 Star                                                                                                                                          3556
Hotel|Resort|Hostal (ES)                                                                                                                        3458
                                                                                                                                               ...
5 Star|4 Star|3 Star|Very Good Rating|Breakfast Included|Sort by Price|Hotel                                                                       1
Excellent Rating|All Inclusive (Upon Inquiry)|5 Star                                                                                               1
5 Star|Hotel|Resort|Excellent Rating|Free WiFi (Combined)|Swimming Pool (Combined Filter)|Spa (Wellness Facility)                                  1
4 Star|5 Star|Sort by Price|Good Rating|3 Star                                                                                                     1
Excellent Rating|Motel|Resort|5 Star                                                                                                               1
Free WiFi (Combined)|Car Park|5 Star|4 Star|3 Star|Hotel|Balcony|Breakfast Included|Best Value                                                     1
Hotel|Motel|Resort|Hostal (ES)|House / Apartment|Serviced Apartment|Bed & Breakfast                                                                1
Free WiFi (Combined)|Swimming Pool (Combined Filter)|Pet Friendly|Best Value                                                                       1
Sort by Price|Free WiFi (Combined)|4 Star|3 Star|5 Star|2 Star|Excellent Rating                                                                    1
Car Park|Hotel|Resort|Focus on Distance|Breakfast Included                                                                                         1
Focus on Distance|Restaurant|Free WiFi (Combined)|Air Conditioning                                                                                 1
Swimming Pool (Combined Filter)|Free WiFi (Combined)|Car Park|Hotel|Sort by Price                                                                  1
Very Good Rating|Sort By Popularity|4 Star                                                                                                         1
Pet Friendly|Air Conditioning|Kitchen                                                                                                              1
Focus on Distance|House / Apartment|Serviced Apartment|Hotel|Resort|Free WiFi (Combined)|Swimming Pool (Combined Filter)|Kitchen|Restaurant        1
Sort by Price|Car Park|Free WiFi (Combined)|Spa (Wellness Facility)|Breakfast Included|4 Star|5 Star                                               1
Hotel|Hostel|1 Star|Excellent Rating                                                                                                               1
5 Star|4 Star|3 Star|Hotel|Very Good Rating|Focus on Distance|Breakfast Included                                                                   1
Hotel|Free WiFi (Combined)|Swimming Pool (Combined Filter)|Sort By Distance                                                                        1
Hotel|Motel|3 Star|2 Star|Focus on Distance                                                                                                        1
Hotel|Hostal (ES)|Focus on Distance|Excellent Rating|Shower                                                                                        1
Hostal (ES)|Guest House|Hotel|Sort By Distance                                                                                                     1
Breakfast Included|Hotel|Hostal (ES)|4 Star|5 Star                                                                                                 1
Restaurant|Car Park|Swimming Pool (Combined Filter)|Reception (24/7)                                                                               1
5 Star|4 Star|Hotel|Motel|Resort|Hostal (ES)|Free WiFi (Combined)|Pet Friendly|Reception (24/7)|Very Good Rating                                   1
Excellent Rating|Free WiFi (Combined)|Hotel|4 Star|3 Star|Focus on Distance|Car Park|Spa (Wellness Facility)                                       1
Free WiFi (Combined)|Air Conditioning|Swimming Pool (Combined Filter)|Restaurant|Reception (24/7)|All Inclusive (Upon Inquiry)|Hotel|Resort        1
Hotel|5 Star|Good Rating|Free WiFi (Combined)|Air Conditioning                                                                                     1
Swimming Pool (Combined Filter)|5 Star|4 Star|Very Good Rating|Sort by Price                                                                       1
Car Park|Free WiFi (Combined)|Focus on Distance|5 Star|4 Star|Hotel|Motel|Hostal (ES)                                                              1
Name: current_filters, Length: 60986, dtype: int64

In [22]:
print('current_filters unique 개수 : ',len(train.current_filters.value_counts()))

current_filters unique 개수 :  60986

In [29]:
from collections import Counter

In [30]:
filter_count = [] #filter 개수 저장

for val in train.current_filters.value_counts().index :
    filter_count.append(val.count('|') + 1)
    
Counter(filter_count)

Counter({1: 188,
         5: 11756,
         6: 8217,
         7: 5492,
         2: 2758,
         9: 3003,
         8: 3972,
         3: 9201,
         10: 1901,
         4: 12948,
         11: 886,
         14: 81,
         12: 364,
         15: 40,
         13: 150,
         17: 7,
         18: 3,
         16: 19})

# test

In [50]:
test = pd.read_csv('../input/test.csv')
print('test data shape : ',test.shape)

test data shape :  (3782335, 12)

In [51]:
#unix to datetime
test['timestamp'] = pd.to_datetime(test['timestamp'],unit='s')
test.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,000324D9BBUC,89643988fdbfb,2018-11-07 12:21:12,1,search for destination,"Budapest, Hungary",BG,"Budapest, Hungary",desktop,NaN,NaN,NaN
1,000324D9BBUC,89643988fdbfb,2018-11-07 12:30:20,2,filter selection,Car Park,BG,"Budapest, Hungary",desktop,Car Park,NaN,NaN
2,000324D9BBUC,89643988fdbfb,2018-11-07 12:31:22,3,interaction item image,1000915,BG,"Budapest, Hungary",desktop,NaN,NaN,NaN
3,000324D9BBUC,89643988fdbfb,2018-11-07 12:31:22,4,interaction item image,1000915,BG,"Budapest, Hungary",desktop,NaN,NaN,NaN
4,000324D9BBUC,89643988fdbfb,2018-11-07 12:31:42,5,interaction item image,1000915,BG,"Budapest, Hungary",desktop,NaN,NaN,NaN

## 데이터 기준 날짜
- 2018-11-07 00:00:07 ~ 2018-11-08 23:59:59

In [72]:
print('test data 시작 시간 : ',test.timestamp.min())
print('test data 마지막 시간 : ',test.timestamp.max())

test data 시작 시간 :  2018-11-07 00:00:07
test data 마지막 시간 :  2018-11-08 23:59:59

## na

In [40]:
test.isnull().sum()

user_id                  0
session_id               0
timestamp                0
step                     0
action_type              0
reference           261731
platform                 0
city                     0
device                   0
current_filters    3570444
impressions        3253556
prices             3253556
dtype: int64

In [52]:
print('reference NA 개수 : ', test.reference.isnull().sum(), 'NA 비율', test.reference.isnull().sum()/len(test))

reference NA 개수 :  261731 NA 비율 0.06919825980512039

## user  ID & session ID

In [57]:
print('user ID 개수 : ', len(test.user_id.unique()))
print('session ID 개수 : ', len(test.session_id.unique()))

user ID 개수 :  250852
session ID 개수 :  291381

In [58]:
#user_id 별 session_id 개수의 평균.
test.groupby(['user_id'])['session_id'].nunique().mean()

1.1615653851673498

# train & test

## user_id & session_id

In [66]:
print('train & test의 user_id 가 겹치지 않는다.')if len(set(train.user_id) - set(test.user_id)) == 0 else print('train & test의 user_id가 겹친다.')
print('\n')
print('train에만 있는 user_id 개수',len(set(train.user_id) - set(test.user_id)))
print('test에만 있는 user_id 개수',len(set(test.user_id) - set(train.user_id)))
print('train, test 모두 포함하는 user_id 개수', len(set(train.user_id) & set(test.user_id)))

train & test의 user_id가 겹친다.


train에만 있는 user_id 개수 697189
test에만 있는 user_id 개수 217238
train, test 모두 포함하는 user_id 개수 33614

In [67]:
print('train & test의 session_id 가 겹치지 않는다.')if len(set(train.session_id) - set(test.session_id)) == 0 else print('train & test의 session_id가 겹친다.')
print('\n')
print('train에만 있는 session_id 개수',len(set(train.session_id) - set(test.session_id)))
print('test에만 있는 session_id 개수',len(set(test.session_id) - set(train.session_id)))
print('train, test 모두 포함하는 session_id 개수', len(set(train.session_id) & set(test.session_id)))

train & test의 session_id가 겹친다.


train에만 있는 session_id 개수 910667
test에만 있는 session_id 개수 291365
train, test 모두 포함하는 session_id 개수 16

- 겹치는 session_id 
- 2018.11.06에서 2018.11.07로 넘아가는 시점에도 이용한 경우!
- 또는 session 이 reset되지 않은 경우

In [74]:
set(train.session_id) & set(test.session_id)

{'2480cd59859f7',
 '2a181b2125efe',
 '35e9a348c9d07',
 '48880df1f1ac9',
 '54418e6c20dd6',
 '5ac1377bb44ec',
 '5ea73da580d41',
 '711fc00536723',
 '7e5ec0a512233',
 'a14268acc47ab',
 'a7255a848e9df',
 'a940556420c16',
 'a9bd5353ae089',
 'b76440eac54b3',
 'd8198666e22d6',
 'e6eb492282abf'}

In [ ]:
df = pd.concat([train,test])

In [75]:
#5일과 8일의 session_id가 같음
df.loc[df.session_id == '2480cd59859f7']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
10889022,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:40:55,1,search for destination,"Cananéia, Brazil",BR,"Cananéia, Brazil",desktop,NaN,NaN,NaN
10889023,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:41:50,2,search for item,9529066,BR,"Cananéia, Brazil",desktop,NaN,NaN,NaN
10889024,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:42:12,3,search for destination,"Cananéia, Brazil",BR,"Cananéia, Brazil",desktop,NaN,NaN,NaN
10889025,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:42:25,4,change of sort order,interaction sort button,BR,"Cananéia, Brazil",desktop,NaN,NaN,NaN
10889026,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:42:34,5,change of sort order,price and recommended,BR,"Cananéia, Brazil",desktop,NaN,NaN,NaN
10889027,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:42:34,6,filter selection,Best Value,BR,"Cananéia, Brazil",desktop,Best Value,NaN,NaN
10889028,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:42:43,7,clickout item,1966469,BR,"Cananéia, Brazil",desktop,NaN,2273504|1966469|8997046|3795926|9605704|287654...,65|65|76|47|33|45|34|95|25|39|45|47|32
10889029,AWKK3A3WA4VF,2480cd59859f7,2018-11-05 15:58:54,8,search for destination,"New York, USA",BR,"New York, USA",desktop,NaN,NaN,NaN
1359283,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:38:30,1,interaction item image,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359284,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:38:30,2,interaction item image,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359285,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:38:30,3,interaction item deals,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359286,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:38:31,4,clickout item,2777713,BR,"São Sebastião, Brazil",desktop,NaN,2777713|4608112|2677816|2028361|2677808|320434...,200|45|81|50|222|43|54|60|40|92|152|52|70|53|8...
1359287,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:39:01,5,interaction item deals,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359288,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:39:07,6,interaction item image,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359289,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:39:07,7,interaction item image,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359290,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:39:15,8,interaction item deals,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359291,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:39:15,9,interaction item info,2777713,BR,"São Sebastião, Brazil",desktop,NaN,NaN,NaN
1359292,AWKK3A3WA4VF,2480cd59859f7,2018-11-08 19:39:25,10,clickout item,NaN,BR,"São Sebastião, Brazil",desktop,NaN,2777713|4608112|2642244|2503132|2717676|285793...,255|207|101|78|40|40|262|101|101|145|94|148|15...

### train과 test를 합쳤을 때

In [64]:
df.shape

(19715327, 12)

In [76]:
print('user ID 개수 : ', len(df.user_id.unique()))
print('session ID 개수 : ', len(df.session_id.unique()))

user ID 개수 :  948041
session ID 개수 :  1202048

In [77]:
#user_id 별 session_id 개수의 평균.
df.groupby(['user_id'])['session_id'].nunique().mean()

1.2679282858019854

# item_meta

In [80]:
item_metadata = pd.read_csv('../input/item_metadata.csv')

In [81]:
print('item_metadata data shape : ',item_metadata.shape)

item_metadata data shape :  (927142, 2)

In [51]:
item_metadata.head()

   item_id                                         properties
0     5121  Terrace (Hotel)|Lift|Childcare|From 3 Stars|Ra...
1     5555  Terrace (Hotel)|Lift|From 3 Stars|Radio|From 4...
2     5684  Terrace (Hotel)|Lift|From 3 Stars|Radio|4 Star...
3     5777  Lift|Childcare|From 3 Stars|Radio|4 Star|From ...
4     6044  Terrace (Hotel)|Childcare|From 3 Stars|Radio|B...

In [53]:
print('item metadata는 item_id로 유니크한 값을 갖는다') if len(item_metadata.item_id.unique()) == len(item_metadata) else print('not unique')

item metadata는 item_id로 유니크한 값을 갖는다

In [54]:
item_prop_count = [] #properties 개수 저장


for val in item_metadata.properties.value_counts().index :
    item_prop_count.append(val.count('|') + 1)
    
Counter(item_prop_count)

Counter({1: 37,
         2: 606,
         4: 4057,
         3: 1996,
         5: 7738,
         8: 9911,
         9: 10877,
         13: 10842,
         12: 10983,
         7: 9834,
         11: 11474,
         10: 11682,
         6: 10468,
         14: 10599,
         17: 12119,
         20: 13452,
         18: 12395,
         21: 13968,
         19: 12968,
         22: 14170,
         16: 11427,
         15: 10930,
         31: 13083,
         29: 14034,
         24: 14562,
         32: 12777,
         30: 13550,
         23: 14369,
         44: 7758,
         25: 14707,
         28: 14088,
         63: 2116,
         35: 11421,
         34: 11861,
         52: 4978,
         55: 3987,
         49: 5914,
         58: 3255,
         33: 12389,
         85: 237,
         60: 2702,
         59: 2962,
         51: 5332,
         45: 7233,
         27: 14352,
         41: 8686,
         38: 10104,
         26: 14528,
         53: 4548,
         42: 8498,
         37: 10346,
         79: 501,
         50: 5566,
         36: 10831,
         82: 273,
         61: 2541,
         46: 7072,
         43: 8048,
         65: 1784,
         47: 6604,
         39: 9582,
         70: 1180,
         73: 934,
         56: 3833,
         40: 9234,
         72: 965,
         62: 2310,
         64: 1931,
         66: 1618,
         54: 4429,
         74: 813,
         48: 6314,
         67: 1547,
         57: 3465,
         71: 1036,
         78: 497,
         69: 1207,
         77: 581,
         91: 96,
         101: 16,
         92: 71,
         68: 1394,
         84: 249,
         93: 62,
         86: 224,
         76: 664,
         81: 406,
         87: 193,
         80: 414,
         75: 729,
         83: 326,
         97: 31,
         88: 172,
         89: 126,
         109: 4,
         107: 4,
         90: 102,
         100: 18,
         108: 1,
         98: 30,
         95: 34,
         103: 7,
         94: 59,
         96: 42,
         102: 6,
         104: 7,
         99: 16,
         105: 7,
         112: 1,
         110: 2,
         106: 3})

# submission popular

In [4]:
sub = pd.read_csv(path + 'submission_popular.csv')

In [5]:
sub.head()

,user_id,session_id,timestamp,step,item_recommendations
0,000324D9BBUC,89643988fdbfb,1541593942,10,924795 106315 1033140 119494 101758 903037 105...
1,0004Q49X39PY,9de47d9a66494,1541641157,1,3505150 3812004 2227896 2292254 3184842 222702...
2,0004Q49X39PY,beea5c27030cb,1541561202,1,4476010 3505150 3812004 2227896 2292254 222702...
3,00071784XQ6B,9617600e1ba7c,1541630328,2,22854 3067559 22721 22713 16121 22772 22727 22...
4,0008BO33KUQ0,2d0e2102ee0dc,1541636411,6,9857656 5849628 655716 1352530 502066 1405084 ...

In [6]:
sub.shape

(253573, 5)

In [8]:
len(sub.user_id.unique())

250852

In [11]:
len(set(train.user_id) - set(sub.user_id))

697189

In [13]:
len(set(sub.user_id) - set(train.user_id))

217238

In [15]:
len(set(test.user_id) - set(sub.user_id))

0

In [14]:
len(set(sub.user_id) - set(test.user_id))

0

In [36]:
test.loc[test.session_id == 'e45f3c80fc652']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
2795238,PVECQNOF5NCR,e45f3c80fc652,1541551997,1,search for destination,"Cancun, Mexico",MX,"Cancun, Mexico",mobile,NaN,NaN,NaN

In [37]:
test.loc[test.session_id == '7f5f9a596640c']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
1255788,9UW1WZ0WPSE6,7f5f9a596640c,1541595135,1,search for item,1457493,BR,"Florianópolis, Brazil",mobile,NaN,NaN,NaN
1255789,9UW1WZ0WPSE6,7f5f9a596640c,1541595238,2,interaction item deals,3378782,BR,"Florianópolis, Brazil",mobile,NaN,NaN,NaN
1255790,9UW1WZ0WPSE6,7f5f9a596640c,1541595240,3,clickout item,3378782,BR,"Florianópolis, Brazil",mobile,NaN,1457493|1510229|1993165|477921|478616|1189712|...,154|172|90|121|224|190|85|64|143|183|75|167|11...
1255791,9UW1WZ0WPSE6,7f5f9a596640c,1541595438,4,clickout item,152438,BR,"Florianópolis, Brazil",mobile,NaN,1457493|1510229|1993165|477921|478616|1189712|...,154|172|90|121|224|190|85|64|143|183|75|167|11...
1255792,9UW1WZ0WPSE6,7f5f9a596640c,1541595585,5,interaction item deals,1253461,BR,"Florianópolis, Brazil",mobile,NaN,NaN,NaN
1255793,9UW1WZ0WPSE6,7f5f9a596640c,1541595588,6,clickout item,1253461,BR,"Florianópolis, Brazil",mobile,NaN,1241433|479006|1474801|1253461|1750539|1411164...,77|106|194|61|117|171|178|119|65|234|105|272|1...

In [34]:
set(test.session_id) - set(sub.session_id)

{'e45f3c80fc652',
 '7f5f9a596640c',
 '16a7078e8a46f',
 '54bfa4ab1a6e8',
 '695173b906898',
 'dd406e7e3516a',
 '6db044a90fb10',
 'f96fd6e39a339',
 '44e2a25c3db36',
 '3e54e8ca45afd',
 'cbd5abe0cd8f1',
 'c12956877512a',
 'd23c1cdbcab6c',
 '4c3efa2541af1',
 '0a0349606f3dd',
 'ce049b2c90471',
 '02b9e22bd5de5',
 '498522eb3e70b',
 '58e6f79bcee70',
 'a77ce95d8efd3',
 '96365535a478a',
 'e2f56a0fb6078',
 'e35be68e30beb',
 'b640b945b7757',
 '808bffa03ace8',
 '0fa1429c4aee8',
 'f89b76366e2e8',
 '281e7c4e4c74c',
 '15f856a2d1ede',
 '72f92df866937',
 'c5eb9245817a0',
 '6dba9c1f72383',
 '47fee8eb862a0',
 '052cd601e9757',
 '8878b002f501c',
 'bb5d0d2430435',
 'd336895f48ca4',
 '47976bc9718ee',
 '65a61635de2e4',
 '26532b91ffa3e',
 '83954cbee6eed',
 '5d302b7b59205',
 '3f91de0c54e60',
 'b511f23da0a1b',
 '9d377d7c08251',
 'cce5cd7760f33',
 'd6e77caf7a128',
 '02b0fc0d41b0e',
 '0ef06d9477a2e',
 '99efb2dd587ed',
 '769f875160c28',
 '80f70179580f3',
 '84e25b1f28d57',
 'bb8ee30e2c10f',
 'f71dd8f2adf18',
 'f74f4ef43f35c',
 'ec707c7374e35',
 'd54b5fa86b4cf',
 'bb2d7ee73f018',
 '1510bbaa1c6c2',
 '623275c1aef68',
 '704d191b401fc',
 '55fcea7e9a060',
 'f458ac686e924',
 '54b926fe0f6af',
 '777d21c16fbf6',
 '63b6a92dbd7bd',
 '5b319aaf1353e',
 'c476993b2f47b',
 '9ddf47192beb9',
 'decbdcc098d59',
 'd83066787a612',
 'e4e0a343c8a4e',
 'c010a5a080513',
 '45785dd660ccb',
 '947e1778cd984',
 'd013536127ba4',
 '3c959c7c1dd58',
 '29f3361c25ff3',
 '84720c955b401',
 '264852068c96e',
 '4b6be14144c29',
 '65f148680e3d8',
 'e1faaee9038bf',
 'e622d502c7c7b',
 '19ea4a33ff583',
 '0c61dc0006678',
 '06ca76139be83',
 '33e1ea1b48724',
 'd1541782f8ff3',
 'ccf7870e117b6',
 'd7368a2673efc',
 '32bcb0c30c175',
 'b2328855f822b',
 '63ed7fc0b15f5',
 'e53e3a872cb55',
 'c1bb2a8e20bcd',
 '030af28fe2bfa',
 '263370509c9bc',
 'a1baaf6152954',
 '92cb9757a14cc',
 'ee63a0e98588f',
 'ed07a7c896ac1',
 'c5f64c68e467b',
 'c7f8e3f0c1776',
 'a8e186e2557cc',
 '0e2fd08a79f7a',
 '1001a68418822',
 '48ef220040b1d',
 '7990fa1f6da49',
 '7427c379857ae',
 'e4bca318af903',
 '497c8a4b92ca2',
 '97ce73de256e2',
 'ac311dc42a33d',
 '834b4ed4fcf07',
 '9ab23a3434bc7',
 '8a2e8cb0535ab',
 '558f016a01077',
 'b9439b86c3878',
 'ae08a49efee3f',
 '3d9a403b5d191',
 '375718af3a980',
 '61b3b6ae57c37',
 '241ca8484774b',
 '815687644beb7',
 'b4412c2c7b142',
 'd8242fc4df8b3',
 'ac39b7ce707ce',
 '13fcad8330796',
 'b91970dce384e',
 'f3e20969d0bf0',
 'd21f8149168ce',
 '870e23cfbb16f',
 'ba264b78e7429',
 'dfca06939b0e0',
 'bf101270f35f5',
 'f2836e19a2bc2',
 '3c16e1596aeea',
 '884fa35147dca',
 'c01a285d68e2e',
 '968d244152535',
 'b3f1238d4a0ad',
 '8efa77d3f44c7',
 '1d6169fc65889',
 '28699af7c923f',
 '0455a9a61f748',
 '54009152d2ced',
 '02810c4aed96e',
 'ca1c0c5deb6ba',
 '5695685c4e3b3',
 '77974843a286d',
 '51c69f1a3dc59',
 '7b5136f1bc8cc',
 '5231e6d71f860',
 '8c86b11b005d6',
 'dfa57af64c42c',
 'fefd80b19177a',
 '948668320f738',
 'bf1d752323da7',
 '27db85353bd1d',
 'b5cc971f1f0d6',
 'bf6e7c6855df5',
 '6a51abd0c6a32',
 '18c6b8f7422b8',
 'dfcc359105fdf',
 'f078edd1dcf8d',
 'dff3829d5d32d',
 '6801e183b3352',
 '08d2cf0913e36',
 '76ad96d7f7a70',
 'bdf85ee1072c3',
 '000dcaefe1db3',
 '0fc45f7d9f2e6',
 '6b05afed14af7',
 'a54881878c9ad',
 '061999c95dd58',
 'a2b408a4297db',
 'bcdb162368965',
 '60c75da2ae202',
 '890600fa7e74b',
 '74181d95f7dd3',
 '6e09a741c7523',
 '8d0f68ff39d8c',
 'b1ae036fbf1a7',
 'cb4319ce1fd3f',
 '77558261aaa8e',
 'ba0536cccf4fc',
 '947e320ba12c6',
 '970df2dfb8390',
 '8e419ac1920e8',
 '951eb9ddc1aea',
 'b735d1400c6d9',
 '1f58d0ebd9269',
 '6dafea1917a2f',
 '91a9560c1c29b',
 '6698431ddfb6d',
 '04acf5f8c677b',
 'c26f498717b3d',
 'ef1f46f112536',
 'c4dabdce7720a',
 '11e936f2a9554',
 '383c793302534',
 '30f268acd1380',
 '894be68930a7c',
 '072657fcc3c3b',
 'eba2fead9ca5f',
 '38d3b3ec235a5',
 '0a984ccddd557',
 '3d8449de72f8c',
 '20b300a6f9517',
 '2b4219d52f550',
 '32fec296e8762',
 '882914acabbc5',
 'e4115d4d4a494',
 'f7fced8400c95',
 '32da1866ca305',
 'a10e25fda12c6',
 '7b9f7835a96e2',
 '34c83077d9912',
 'c4394c3a268d5',
 'dada6b1ae8605',
 'af1120dda8a11',
 '5359c791a8563',
 'bc759e03ff5e4',
 'bac737b4fa357',
 '65498f3ed046b',
 '06f2a20ab40c9',
 '92b16944608ee',
 'eb5968c403487',
 'fde7f46d1293d',
 '9bb90abbb31a0',
 '8e541d7ae9cec',
 'c215bc96a18a6',
 '9cafc40e53e72',
 '7cffdb8089276',
 '8012adf7230de',
 'b6d1f1024c5b7',
 'c5cd5842018f4',
 '5704af7046ef3',
 '46f48c9236b91',
 '5f03031935c65',
 'bfec9e003114d',
 'cc8ea839feadb',
 '5950709972b80',
 '15b8121ed93eb',
 'c656a35e033ed',
 'a0e612e74aa42',
 '38e7b4ae45277',
 '3a241b388ee25',
 'a18706063390d',
 'c0d363415e43b',
 'c7d9e186ed766',
 '9aa119e5e0ea5',
 '5e43d84204d11',
 '8387ddd7550ab',
 '5466c0eb33fb7',
 'cc6bd505d9502',
 '449edb149e0b1',
 'c9cf820f5d0a2',
 '8e3f1367c67a4',
 '7a6cbfa8fa137',
 'f754a8c882852',
 '2f7ae645c9c7b',
 'c4f147bcb5a5f',
 'cb02b005cdbd4',
 '4d0ffa55fe924',
 'c6146887b81ee',
 'd4a8df049e7d6',
 '8ccf5eeae4fd6',
 'a26d0d5c4d420',
 '1d14b6006c020',
 'cd069c7b2b1a0',
 '1ac6a317ae241',
 '783c221200149',
 '81ff9bac8c37f',
 'c5d515a89bf78',
 '8964dab9e2158',
 '3e53037b71abf',
 'cd218e5115e17',
 'ff616aae38e9f',
 'c7d5519863d31',
 '6ca5053a47c87',
 '9d7734cdb560e',
 '83637bb492b12',
 '77d9b7a493e8a',
 '50c807a5d4a12',
 '7505c4a573ae7',
 'ca3e98ce2fe2b',
 '787374dbc09bc',
 '5c00c1bb7bc68',
 '27d55c74450e4',
 '4439149703222',
 'f7229bcf3d2de',
 'b918d9dbd3bd5',
 '9335cf779603a',
 '5dd393530033a',
 'a849bbb3796b4',
 'b83b4ccc16020',
 'f46ff6d5dfa9a',
 'b373ac3e4b4ab',
 'a5bff69a22614',
 '3fd45ad88857f',
 '7728661abc080',
 '84adfbc02d38c',
 '3a22521492a63',
 '9ead9b575430f',
 'a7893852b8322',
 'ecf12b9d2ca3e',
 '4a897df6ab742',
 '2214774ff0475',
 'dd8c7ef70d65a',
 'dbcad7b1a177f',
 '896aede6c596f',
 'ca2cc93ee706c',
 '37e23f147fa87',
 '975a1d2118100',
 '70f4606f5d7a7',
 'f200313fd48b3',
 '0f4a65b01f840',
 'e253469f7713b',
 'd3e127876d07d',
 'ec517f096fd1e',
 '7d83715a060a5',
 'a2aeedbed8ec4',
 'cf57801e8c201',
 'db8e6d74b7d15',
 'dc3694f7af8f3',
 '2ca9996088df8',
 'fd459f036618f',
 '53645b12da5d7',
 'b4631cc1b055c',
 '56f7c8cb65409',
 '209ef7d2cccfc',
 '47400aec1cec7',
 '4cb609ddb2e48',
 '83cacce426b2b',
 'ecc157358b5a7',
 '99ab715b999ec',
 '48f89d57e8a61',
 '6ff6e9dead563',
 'f1aea04386c12',
 '395276bfbcc0e',
 '5a51fe1e735d5',
 'a0697783d4018',
 'de948d35a9587',
 '1cf028bd4eacc',
 '405ec2d8af33b',
 '71f87c1df737c',
 'c7c605f6ca81b',
 '5b0df870f3ac5',
 '07216c94108e8',
 'efc17f4cb06a7',
 '75f22946ec81c',
 'bf51369c11e95',
 'e6c24b23c8b7a',
 '6422378c633c7',
 '72da07171be5c',
 '52957d0d7c52a',
 '81183eec764c1',
 '240e6b3826eaf',
 '59a374399da91',
 'addfef9b832a0',
 '2b391358cd977',
 'd624f1a2eb405',
 'd8c2239c4347f',
 'cc99029c6de65',
 'daf4203541665',
 '26f1d053bdd49',
 'd7462a1f63b6b',
 '99521e2ca9901',
 '9add7ecec9982',
 '63e105a55b2a4',
 '741caea0b990a',
 'd07eb51e5c196',
 '6741566aac09d',
 '88d6d8613620d',
 'b36bd58160c77',
 'c42f391067eda',
 '72ed07f3964db',
 'ad3c7c47cf8eb',
 'd96b12b22ad40',
 'bdd356f6a11ba',
 'a7328cc4c34e4',
 '082be0f2539a5',
 'f5d4f3a744296',
 'ca55fb2fda359',
 '2df281f76ac57',
 '965ba61f41977',
 '4ea87a9c4ca7b',
 'e7699e8636acb',
 'ad81c16ce1444',
 '1108095abedd6',
 '192e21f225cf4',
 'e46cd0cb69888',
 'b5550ca1d45e3',
 '4431c5162f3cd',
 '113869fa595e2',
 'ad5355b5c32ce',
 '6bc9e663b7f82',
 '3d6d39e2886bb',
 'db1270195143b',
 'b8c156294f3bd',
 '19ebea20b0fad',
 'cfdd9112ae153',
 '7d1da2b31fde5',
 '6c72660e2f2e2',
 '53c06dcd1815e',
 '1ae4d9e643e07',
 '215547805b29a',
 '11a4bb2195b5f',
 'fbab409fefbff',
 '1e5013f65914a',
 'bc85c67be9bcb',
 'b41b6052a3d5d',
 '286502f1efdb5',
 '11a056ff6902b',
 '1871bdd07d617',
 'a204abfd25a48',
 'cfadf49fc505d',
 '740ab67418849',
 '60ae3d181c1f2',
 '0e4b79ea5e9ac',
 'effcb6223ae8b',
 '29ba46dcb6b1d',
 '874a0453d3743',
 '305a7aa24ea10',
 '0f7b119a49ed5',
 'd600bcbc8501a',
 'd39e435c7d4bc',
 'd215c92a4c3aa',
 '0782a53b0b486',
 '33e18afec6887',
 '3dedef3ddde36',
 '7fabca1faef25',
 '70e6ffd3dc9ca',
 '91b8147cfcdae',
 'aa100490240b4',
 'cd07765ba6c06',
 '399a93fa8ddd6',
 'bd477fdcb7534',
 'a2bcf9e3f6fcd',
 '4577a70971cc4',
 'f060e25c87209',
 '0f78990052d93',
 'a6d1756a700c7',
 'd135cc1f65269',
 '8bd775f9f76cc',
 '14da14176e8bb',
 'e50dd178dee2e',
 '70f72183fb993',
 '9f01142d01b64',
 '9183f9915925a',
 '97dc161924fbc',
 '0ba980752b852',
 'f9d165b4b9dff',
 '46282677330b6',
 '53b17c378d9a6',
 'a3fdaa3d7760f',
 '5e3d8204e7c85',
 'a0ccfd104b424',
 '375d56e57c279',
 '011d1491d956f',
 'd647e1f67bc87',
 '751c5079b3b1a',
 'e8c684eb3a8e2',
 'df82178d08314',
 'd82109d1ec82f',
 '8fa8cf3654529',
 '940b69a69c9e5',
 '538c39ca7a5be',
 '5c00d1266bd31',
 '2c981f310d7bf',
 'c228237fe00ff',
 '73c3434738e8d',
 'af41c3caa4efc',
 'e320a36c4dbc0',
 'cf125387a725e',
 'fcd4747988f70',
 '04af378f9fd0a',
 '514e503760474',
 'bea674e6f26f7',
 '66a438a7b9be0',
 '3bcd831129209',
 '3f5eced412b09',
 '1f5ae20cdb2c0',
 'a1c47fd71d48d',
 '89293cac20b63',
 '73bcc7010f2ec',
 '6522bff6c9d2c',
 '74cc5f27b2d92',
 '567a21ee4f027',
 '7a5272c243de5',
 '1bb7349eddf64',
 'a56fd2d79803e',
 '04733f62da896',
 '5ef9fa01d705c',
 'd4036e686453f',
 '79cb350fab7e3',
 'a5897cf73854c',
 '4c176b7fa3751',
 '9ffca672b57fb',
 '42a4df8ca48ce',
 'c480604129e5b',
 'b9581eb712e6f',
 'c3c150522f7ba',
 '34389adae6f01',
 '5ed6f7be42fb0',
 '36ca2e0eff7c4',
 'c718fb3ca7b96',
 'a7edbeae1a411',
 'c96d07ca7812d',
 'ca72cb5a78403',
 'bad7d1d92f2b1',
 '8258ab52f927f',
 '4bd3b6ae0805e',
 'd7e5d106cb3e8',
 '796428ddd154c',
 '964852236b4a4',
 '69176b537884e',
 'db433b8e5d778',
 'fe3f312aec39f',
 '209b0bdadc970',
 '442c59c787776',
 'f255950744814',
 '9d3e8556733a0',
 '59dc6c0fbd867',
 'f300c8c3b7cdb',
 'd2a93637f562f',
 '717ebb27e9cfd',
 '01f456fb5ab63',
 '1932144b75179',
 '71f16d68ef25e',
 'bf2811ecb59e7',
 'eb55eb74073c1',
 'acc06903ac4a0',
 'd6c7a65a6a4b7',
 '2a7eea5c1c9a3',
 '42033cebdfaab',
 '75dbcc0964422',
 '4e71bab8029ee',
 '3bbe0613183d1',
 'ed83254f268a2',
 '1ff0de50848a0',
 'ce019ba6e6585',
 '0de273ba3240d',
 '5106f2669dc72',
 'e8bebcc7f3f2f',
 '839fc36f19694',
 'bcfd7e67b2058',
 'c9df15d80383f',
 '1ad3061654f51',
 '804e9d3b35f98',
 'b7dc797a0bfc9',
 '6257cd5f6e5e7',
 '2d55d89fa664a',
 '6f34d21f54130',
 'e734af870e523',
 '99fd3450800e5',
 '928c64a043047',
 '6be69dd4f1b61',
 '4b5abf933aa37',
 'f74260ab81db1',
 'f36878556824c',
 '8ddd91f91b7cb',
 '2e782766a1a4f',
 '45fd7e2ab91b8',
 '81ea5a4cbbcc7',
 'c62a4809fdae0',
 'b7c33beaba286',
 'a4451329ed31f',
 'bcde13c339992',
 '96ea3a4e9a6e8',
 '9ae0dc3bf5ffe',
 '3285b01a93a58',
 '4b4a7ac3e0842',
 'deb8c75afd956',
 '7f2c1ae4c26e6',
 '6850a5738e89e',
 'cdee1e985488e',
 '28bfe519d7ddf',
 'a262c820724b5',
 'd94aa14f83afc',
 '73ce14c9be9a5',
 '50375b23f4911',
 '7fb60c10dc5e8',
 '1771640a40457',
 'bb3b5d74e01b5',
 '8ef6b4705af99',
 '824ef1312a1ff',
 '72ffd49ca1191',
 'd15fc3bb13118',
 '088083f8acd1a',
 'c93bb7cb42a47',
 'fda1a1851cda5',
 '357c69af8a2f1',
 '1f469980c6494',
 'eb4ed76ee6f12',
 'c9e2e8b029d9a',
 '7f1ae795b94bc',
 '3a72e52df4568',
 '2ba3897eac257',
 'b2d8f39194f1b',
 'ba6a68285553b',
 '39296cc02ead2',
 '1ea8c2debe3ef',
 '9fc50af23d6e6',
 'aac3ad63217cd',
 'ab388b56b954e',
 'd120f83e9975b',
 '09a28ec1c6f83',
 '60b508e742889',
 'ba289542443e1',
 'c0da5148b681b',
 '8d631260894d2',
 'c51be429bf74e',
 '63e9675d01158',
 '10a05ded8d750',
 '45459a223145d',
 '8184a91ec4d0e',
 '6b58934251b32',
 '609c84a7e706a',
 '97afd94969431',
 'e301e76a90e42',
 'dc70570bab05d',
 '43ddc40644b40',
 'e20632059816c',
 '73e6454f59c4a',
 'c9dac14f0dd30',
 '1107c202c69fa',
 'db345054833ff',
 'f316a84c049ea',
 'dafd73aa4d3a5',
 'e41b7efa52b3f',
 'd11336996be0f',
 '948f9b9c341ab',
 '2fa3fac5b935a',
 '98a717ef3703d',
 '0d68b9a5cafae',
 '7ccda04723659',
 '9a7e93eed9e7c',
 '5d83b7f7d9500',
 '99370b93bf0fb',
 '59832a28ca977',
 '713f4d97592f7',
 '2de348c85f3ae',
 '16db6abb398b1',
 'e3ad8c0735401',
 'de0b443ebc161',
 'a3ea285525141',
 'fcea4502fc70c',
 'dfbaabf05db55',
 'a1325eb50c01c',
 '100a5a5bb4895',
 '4fc07f8ff9f60',
 '9cbf022da9a95',
 '14919a76699ef',
 '921e9d758482f',
 '2ff245fc52664',
 '238ee0d75d1ec',
 '197eee76b1e45',
 '66c54de740b85',
 '274a4f2d41086',
 'e7a2bfc88b242',
 'bc3d3ed80bd66',
 'b27673f84a12b',
 '86f9723a3fd6c',
 '883a79bc5c6aa',
 '9bd0e720eb042',
 'c3b12f0ada23f',
 '7e4e8ff79247d',
 'b7ecdaea91980',
 'ad0e48b3dc0f4',
 'cb3cf3e5dc59d',
 'bef816cb66cba',
 '8918cd7ef65b1',
 'c19d9e6cdb224',
 'b1cb4bcd43138',
 'dc7ec8a7f4c0b',
 'f866f6712080f',
 'a12eacf40e670',
 '43b359a3ac8ef',
 '6d2ae9bc93056',
 '6909f21067c7a',
 '919611151a32c',
 'c9fdb10f963cd',
 '0ac8a0aea13c6',
 'e453c9370db65',
 '8b19ae8f414d1',
 '0ec37ca1486d8',
 '2e59cbeaab250',
 '35b403d561fa8',
 '796275035ef87',
 'b439bc82a2b59',
 '02334787f8331',
 '4b968ddbd46aa',
 'e63fd079cc462',
 'b838eabb9764e',
 'c778237c0fb76',
 '1a2e537a656c2',
 'fedac5257ff30',
 '92ef597e4864c',
 'd1b1c447c9655',
 '4a2bab088e5cd',
 '9f2aa913e3792',
 'c97c092ae2a7f',
 '32661f531eb81',
 '510bfef02ca33',
 'f334bb87c1f57',
 '2704d19ed78fc',
 'cc99d5ca1eb21',
 'c1fe5a4a09abd',
 '0a6fd403c9d64',
 '3e67e71f54adf',
 'd65f450e685e4',
 'dcca86d8b3e3a',
 '50c5a7ed819f4',
 '78280e58dd8da',
 'd40201cab036b',
 '15a8858acfb83',
 '040bd9b89a77e',
 'ad75dc762033d',
 '290b399e08285',
 '75a9526c261f7',
 'd94a435d704cd',
 '5505363641d54',
 'b5a9fc968f74e',
 '11822a6c15bb5',
 'e77b55a2fc68d',
 'c07bb2bbccbdc',
 '2663f7dbb474d',
 'c0bd3b486c18a',
 '733188df213b4',
 'fff5814e50272',
 'b6ea5108497ea',
 'fdaeb91f29e6d',
 '526a4430ee768',
 '9183439ee3557',
 'bd5b85bb32c32',
 'ca65e16de5096',
 'aab52cdc4636f',
 '9b2dfa87d17b9',
 '861e1c99c1de0',
 'ceef5bfeb2d1f',
 '225f71542c3e7',
 '0ee67f1315924',
 '084fffc13c17e',
 '3d7c0cad453ab',
 'f8a085e5bf247',
 '9b38c0d8c7736',
 'd24b563a9ea20',
 '616690d0567ec',
 '34a210a4af0e2',
 'cf6460d679bfb',
 '25816f8705dbd',
 '5b783f201627e',
 'cb351e0e50c11',
 'f1fdee0ab3485',
 '99c5a70ef8243',
 '959d36ed00587',
 'c0b4c69f43e8f',
 'a27901afb1ffa',
 'fb389783103dd',
 'd915e00f1c529',
 '4e7af14c97ef9',
 '9faef140fcf8a',
 'a6f8b3589a970',
 'f6aa4b976a118',
 'fe344050e30b4',
 'bc67f44c5541d',
 '9e14b76753afb',
 '2c8d945ceef05',
 '1736f9df73980',
 '225b7d44708e0',
 '31032291991ed',
 'ac9ed75d561a0',
 '17f3f8ae92db2',
 '66b1b53731a4b',
 'a43159c1d951c',
 '7b329acbe327c',
 '7a45524675b5f',
 'a53d0137f1846',
 '9f67d316d6828',
 '02ddc40f113f7',
 '9801aaa4ca9ff',
 '41291ff69747a',
 'c485518b64181',
 '8e96f334629dc',
 '523d9d8df83f7',
 'e7d2ee05914b2',
 'b9daccc63d272',
 'd108ea1371171',
 '51a6f1b970284',
 'a63faf6ced241',
 '6ed8f3792c658',
 'ed4cdffa107f6',
 'f41070c4219f6',
 'cdaf93300d4a1',
 'e10f700981297',
 'db4da60275535',
 'ad5620086f7d2',
 'c4a0e378dd474',
 '03bfe567869ff',
 '5b4543f1647ce',
 '4097bca3c4eca',
 'b3722b9a49af1',
 'cc7d0addc0691',
 'b15dac90eac76',
 'cc34534b52dd8',
 '1367be63cdbd8',
 '697f619990bea',
 '8804a480bac45',
 '8111465b666ae',
 'd474906a35390',
 '6136a03a9b473',
 '8e215e90e4164',
 '3a690b110e4f0',
 '1cc6aea9584a9',
 'a8820ae38bc14',
 '352634b52fe17',
 '2d5e3f9ef1227',
 'ae2e7c4298b36',
 'df6d7d64cfbe8',
 'b0eed43938797',
 '7683b4f2b63d9',
 '770c9fe5485a0',
 '7af94f13e8cc5',
 '3715e19e2ae44',
 'c9f8f63a97cb0',
 'b970d80923787',
 'e50e7b5615327',
 '1805f11b23723',
 '4a9d7ff18f454',
 '5d7d33d18a2b2',
 '4b34f1f7297cb',
 'c23e7a365618b',
 'a5046362a3840',
 '9e3cdca191e13',
 'fb7c58ef83d00',
 'b2b070571ce70',
 '886afd378674b',
 '72dfb57b2bbb3',
 'eea2bee25b1fa',
 'e56b4cd3e2337',
 '5e1454874660d',
 '2edee186e0b2a',
 '9747787265c28',
 '5e9de19e7f6c8',
 '9f68361940d82',
 'aacc0413a8c66',
 'b4525e9c01e13',
 'bab1316597c34',
 'f0369ac72698c',
 'bc088f48f766d',
 'de2e837f028ce',
 '468ebbb893e9a',
 '7e0a55e07adc0',
 'b77b7122cbe4e',
 '280692d237dcc',
 'a8508feb1ad8f',
 '65dab69439855',
 'dcba950ec8287',
 '6bce8cf3a4f77',
 'ffb5ebccb1b85',
 '058ffa596798a',
 '0ecef2c0afe45',
 '047201888816e',
 '4551fc7fd38c2',
 'be4e288c65b3a',
 '16f0def6fe248',
 'b950df0015dfd',
 'a7fec59ff0cf7',
 '443f26c24af75',
 'b0a854f41ebf6',
 '2dd49ca31bda0',
 '396e054b77d24',
 '8a6a86b1172f5',
 'f1ebad1937ff1',
 'ad3725ecd1a40',
 '1f61bc18ce290',
 '4d164b6932c71',
 '830ef7aad96a7',
 '59f60be5b673a',
 'a60a1006c5a55',
 '59a50f8cd0a19',
 '7247af0b96f53',
 'f5860b1ccc92d',
 'f152bfbb1eb0d',
 '3dd115c5b5b90',
 '93665142519ec',
 'c9d92a6fb5aa9',
 'fc9008b616509',
 '892b260e477b9',
 '44f323cdafb54',
 '6b6616f4e24eb',
 '55692220307ff',
 '1d65f42a3baee',
 'c11622b8b0338',
 '224c1e09bcfb0',
 '5dae6867dbe11',
 '190e7390b8168',
 'd061bc584712b',
 'd00df0a04f2f6',
 '6630079b4a8a8',
 '4de579b7f67eb',
 '66541f99003f4',
 'd29ed295abfcc',
 'ca0ff9567a843',
 'e65cce23ddd86',
 '934acf1f23155',
 '535fd402c5ae3',
 '91ac8f76a8cad',
 'fa363d6ada60b',
 '60f0bbec4d83d',
 '972ad4542ac83',
 '3ce99fd1dd1fe',
 '18848d50bf486',
 '61db0c7215324',
 'bebabd9d51a93',
 '05d2cb981bc3a',
 'a3f09ab168cd9',
 'd32a0a7d5d2e5',
 'ecb783b32ec36',
 '38a5e64571d2c',
 'a0022a87bf900',
 '2b87094d44ebf',
 '6b95e8a0da66c',
 '8a41752e6e252',
 '01310d637d01e',
 'f6b30adc3175f',
 '7a270bf8c78fa',
 'be39e298af78b',
 '5aea9caf92b34',
 '0b662dbe2ffca',
 '7172534fe2d09',
 '8d11adad5cee3',
 'e1a957eca5de0',
 'fb5ff90b7b58a',
 '9c2dc2fa71964',
 'd1b8c82436721',
 'db14738a985b3',
 '66af945da1855',
 '252fbf28256e4',
 '0a366b489d970',
 '265174ac4ec67',
 'c3834339fc8ed',
 'c1f3ff3eabb46',
 '9e89de9951900',
 'a2b9b7fde46d1',
 'd97f8cca53a66',
 'ea5209ed8d31e',
 '6c7925d26d964',
 '7f3baf0721f4b',
 'fdb769cf7991a',
 '8c30272cef666',
 'c378312a91160',
 'e27c8c787cbd7',
 '09bfaeef53880',
 '8599e91d19f8a',
 'd376b9805f713',
 '4db0f070b3ecf',
 '1751749a2af36',
 '8313430d7761b',
 '98172a7886801',
 '1cf8f7c923e28',
 'def73cb692a74',
 '287895237bad5',
 'b32f048d02a2e',
 '5c194996e1c4b',
 'fd22f04010bcd',
 '3e736d053dbfe',
 'a3ca698ba2951',
 'b857f979a5423',
 '0ae12a833c565',
 '1d2138d677911',
 'de13b51cd9688',
 '027d964cb0ea2',
 '78caa7ee616fc',
 '5ddfab7ddfd6a',
 'c7ba826a1a671',
 '69d6547e41bad',
 'a111b878789bb',
 '2883423a11af3',
 '61576b9f9d7e9',
 '870611e2a5f8b',
 '50764e8d2ad5f',
 '310a7e5fb7057',
 '21f7faca89ccb',
 'd3a1c2c86a921',
 'd3b07510861b9',
 '9f5f7f271a916',
 'd84818a40d980',
 '7c6340d59d242',
 '2306dabd0dc61',
 '8c0df1a56da7c',
 'eb8e257226c0c',
 '9dad1d07141c0',
 '4aba3a4fe0ec0',
 '12ad4696d68db',
 'a34c9d596e52f',
 ...}

In [32]:
len(set(sub.session_id) - set(test.session_id))

0

In [24]:
pd.DataFrame(sub.groupby(['user_id'])['session_id'].count())

              session_id
user_id
000324D9BBUC           1
0004Q49X39PY           2
00071784XQ6B           1
0008BO33KUQ0           1
000GO9NY6P4M           1
000IRHJS2DL9           1
000JB0UNEH23           1
000OWRCYEHKT           1
000VBY1D6BP8           1
00130PO6XSZR           1
0013L641G5P2           1
0015X90DOWT1           1
0017FIR55K7R           1
001D536Q4S8D           1
001I0INS8EBP           1
001LT4KVZ14I           1
001P60T145X4           1
001TD1JLUE4D           1
001WP37I7I1T           1
001XGI2NI73R           1
0020N6R8BEDO           1
00210VAF61G5           1
0022L3757L7J           1
0023UTXOFLJP           1
0028DFS9FKIP           1
0029BRXGBS69           1
0029FEXX2R5F           1
002BISXP1U1Q           1
002CQHIQ78E8           1
002CUWLQDUV7           1
...                  ...
ZZRMD5MI1L99           1
ZZS7YZDEKD9A           1
ZZSC8XZ6A8NP           1
ZZSHMZO6F36T           1
ZZSZN2E4ANXP           1
ZZTADJSKLQP8           1
ZZTFVH93H4ME           1
ZZTGL330L8UH           1
ZZUTJ8I05P4P           1
ZZV1ZO0IG4L2           1
ZZW4WCX342X6           1
ZZW77165VCI9           1
ZZWBXPVI1AA8           1
ZZWI88CNBB7C           1
ZZWT75PS0J6R           1
ZZWVBPY9GVOO           1
ZZWZBXI100ZW           1
ZZX3QP2D67V3           1
ZZX96IB781KD           1
ZZY0EXJHC765           1
ZZY1KJ61DBKF           1
ZZY52IA5S865           1
ZZYKA4GMTO2Y           1
ZZYQ7N5SPOLU           1
ZZYQV7A1F50E           1
ZZZ0V8454NZC           1
ZZZ4MFAMBHZ3           1
ZZZ5DZLM41SL           1
ZZZ7ZXP3KT8R           1
ZZZ8F76XAJ4M           1

[250852 rows x 1 columns]

In [26]:
pd.DataFrame(sub.groupby(['user_id'])['session_id'].count()).sort_values(by = 'session_id', ascending=False)

              session_id
user_id
EJTNZ75DSSUH           5
2AWNQVAE8SIT           5
I4XJ1CQXAHP9           5
H94J10XWGJQK           5
5JE53WBX74DR           4
N6E1EY7GP33O           4
NSMT2HE49DGD           4
WVL6JGF5HTVT           4
IFO2OZY2GIO1           4
A522HAJ6593L           4
G2LW2TXT5TED           4
ODGY4HYWR4M5           4
8UWWF1I92PVJ           4
SD56K3C89IOX           4
1HOBKDNYYJDS           4
YG6UTA7KD6QZ           3
DEUHI6E4DHQD           3
YLZKXGCT2TIR           3
V5GL0FF4W7R9           3
NMS1AVCSK9RR           3
OP3WTIWAZDX7           3
G90QOX4924XS           3
EU78CCSGMHKV           3
JTQZTFFR1C07           3
PKOS0IY47BG6           3
T6GO5BGR6E99           3
1P9R3F13Z3V2           3
BZ75PLJ9ZE61           3
PR547MGTO7U6           3
HCYCRGPTE8OX           3
...                  ...
A0Y09TDNQ9S8           1
A0SFLK4CV4VV           1
A0USI5V94Z55           1
A0SQMCCI2YQZ           1
A0SRIKY2D00G           1
A0T092CHAMIS           1
A0TA37RWNUSV           1
A0TKRZMR11G9           1
A0TMM62CHA3R           1
A0U1G81XBE3J           1
A0U2J3ZWVEPO           1
A0U3PDP760YA           1
A0U59FAS0FP6           1
A0U98JON8GJM           1
A0USFK37BOYF           1
A0UXK4VJQ7G2           1
A0XW86IFVSM0           1
A0V32VDOMNVX           1
A0V6660NLIZR           1
A0VBVJIO6Q4U           1
A0VHKVDJH6NJ           1
A0W01PMI38AM           1
A0W1FETE9WL5           1
A0W1X951HIY1           1
A0W4DQI7541Z           1
A0W6AFNPP6JL           1
A0WL6XQVDZXB           1
A0X9IJCHRIK1           1
A0XQMHKLZ87J           1
ZZZ8F76XAJ4M           1

[250852 rows x 1 columns]

In [27]:
sub.loc[sub.user_id == 'EJTNZ75DSSUH']

,user_id,session_id,timestamp,step,item_recommendations
114444,EJTNZ75DSSUH,3126e7e283a25,1541714191,1,352416 5193540 7179650 1952071 2628297 105658 ...
114445,EJTNZ75DSSUH,574b04ff34580,1541590550,1,7126898 5193540 7179650 1952071 7875360 97748 ...
114446,EJTNZ75DSSUH,873239d77533b,1541621705,1,7126898 5193540 7179650 1952071 97748 2628297 ...
114447,EJTNZ75DSSUH,a777af410d7c5,1541625683,1,7126898 5193540 7179650 97748 2628297 105658 2...
114448,EJTNZ75DSSUH,e12c19568a7e3,1541657474,1,5193540 7179650 1952071 97748 2628297 105658 3...

In [28]:
test.loc[test.user_id == 'EJTNZ75DSSUH']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
1711886,EJTNZ75DSSUH,3126e7e283a25,1541714191,1,clickout item,NaN,TH,"Wanhua District, Taiwan",mobile,NaN,1040738|5193540|7179650|2628297|95185|105658|1...,89|76|82|61|198|93|115|62|123|468|177|192|211|...
1711887,EJTNZ75DSSUH,574b04ff34580,1541590550,1,clickout item,NaN,TH,"Wanhua District, Taiwan",mobile,NaN,1040738|5193540|7179650|1236765|95185|128403|8...,89|75|83|116|197|111|62|202|178|123|176|195|87...
1711888,EJTNZ75DSSUH,873239d77533b,1541621705,1,clickout item,NaN,TH,"Wanhua District, Taiwan",mobile,NaN,1040738|5193540|7179650|2628297|95185|105658|1...,89|76|83|61|197|92|110|62|123|421|177|196|222|...
1711889,EJTNZ75DSSUH,a777af410d7c5,1541625683,1,clickout item,NaN,TH,"Wanhua District, Taiwan",mobile,NaN,1040738|5193540|7179650|2628297|95185|105658|1...,89|76|83|61|197|92|110|62|421|227|177|196|222|...
1711890,EJTNZ75DSSUH,e12c19568a7e3,1541657474,1,clickout item,NaN,TH,"Wanhua District, Taiwan",mobile,NaN,1040738|5193540|7179650|2628297|95185|105658|1...,89|76|82|61|198|92|115|52|123|421|177|196|222|...

In [30]:
sub.loc[sub.user_id == 'YLZKXGCT2TIR']

,user_id,session_id,timestamp,step,item_recommendations
244723,YLZKXGCT2TIR,4533912ee1a82,1541601159,1,39597 1104666 84035 127320 39588 2643984 39574...
244724,YLZKXGCT2TIR,68e4fd99dbdf3,1541584870,1,39588 1492187 39574 1388968 4521406 41651 3958...
244725,YLZKXGCT2TIR,7148fd9e31487,1541631470,1,32580 39549 1490395 39511 39546 1492187 137194...

In [31]:
test.loc[test.user_id == 'YLZKXGCT2TIR']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
3650186,YLZKXGCT2TIR,4533912ee1a82,1541601159,1,clickout item,NaN,NL,"Portimão, Portugal",tablet,NaN,127320|1967651|39597|95267|39588|41678|84035|9...,30|25|40|43|83|79|42|36|85|72|15|43|58|25|55|6...
3650187,YLZKXGCT2TIR,68e4fd99dbdf3,1541584870,1,clickout item,NaN,NL,"Lagoa, Portugal",tablet,NaN,148940|41651|2366776|39588|39652|95480|1967651...,64|127|72|83|38|85|25|77|36|85|38|58|43|53|100...
3650188,YLZKXGCT2TIR,7148fd9e31487,1541631470,1,clickout item,NaN,NL,"Albufeira, Portugal",tablet,NaN,131815|1448879|39511|32580|39558|39549|1490395...,34|36|25|60|31|34|32|137|17|66|35|73|144|85|35...

In [ ]:
test.loc[test.user_id == 'YLZKXGCT2TIR']